[2012-09-28 16:56] localshred opened #3 "rake honeybadger:test fails when ActionController is not an App dependency"
The Honeybadger test rake test is failing when the rails application doesn't have an ActionController dependency. It is my opinion that if ActionController is not used then a generic notification should be broadcast.

---

[code]

[2012-09-30 23:11] joshuap opened #4 "Test task fails when ApplicationController#current_user method depends on subdomain (or other request data)"
When honeybadger_user_info attempts to call current_user, and current_user depends on request-specific data being present, such as an account subdomain, the test task may blow up for some users.

[2012-10-04 00:46] #4 closed, assigned to joshuap

[2012-12-28 18:55] dlupu opened #10 "[Bug] Wrong error report"
Hy,

I have some code that raises a REXML::ParseException  :

[code]

However when the error is reported, both its class and message are lost (line 6 of the following gist):

https://gist.github.com/4400797

Is this a bug ?

The page that raised the error is : http://amv-api.herokuapp.com/?q=gluten

[2012-12-28 19:23] #10 closed, assigned to nobody

[2013-01-11 20:53] atstockland opened #11 "unable to detect the Honeybadger API Key from your Heroku environment"
1 heroku addons:add honeybadger
2 heroku config | grep HONEYBADGER_API_KEY (returns API KEY)
3 rails generate honeybadger --heroku

ERROR:
Attempting to determine your API Key from Heroku...
WARNING: We were unable to detect the Honeybadger API Key from your Heroku environment.
Your Heroku application environment may not be configured correctly.

[2013-01-15 22:11] #11 closed, assigned to nobody

[2013-02-10 01:33] nirvdrum opened #14 "Add a changelog"
It'd be really helpful in determining whether to upgrade and what to watch out for during an upgrade if there was a changelog giving a bird's eye view of the changes in each release.

[2013-02-11 15:57] nirvdrum opened #15 "JRuby warning"
I just noticed the following warning in my startup logs:

<pre>
/home/nirvdrum/.rbenv/versions/jruby-1.7.2/lib/ruby/gems/shared/gems/honeybadger-1.5.0/lib/honeybadger/notice.rb:238 warning: instance vars on non-persistent Java type #<Class:0x1b61efc7> (http://wiki.jruby.org/Persistence)
</pre>

I'm not totally sure what's going on, but I wanted to at least file the issue here so you're aware of it

[2013-02-12 23:08] #14 closed, assigned to nobody

[2013-03-01 16:28] terlar opened #17 "Feature: User Informer"
I am missing the feature from Airbrake where the error id can be inserted to the HTML error pages from public HTML.

In Airbrake this is done throught:
``

This will later be replaced with error id if available.

[2013-03-09 21:30] hundredwatt opened #18 "Rails 4.0.0.beta1 Error in generate"
I ran `rails generate honeybadger --api-key XXXX` on a Rails 4.0.0.beta1 app and got this error:

[code]

[2013-03-09 22:32] #18 closed, assigned to nobody

[2013-03-13 01:44] #3 closed, assigned to joshuap

[2013-03-14 14:36] isabanin opened #21 "Exception when loading Rails 4 environment on Ruby 2.0"
I'm seeing the following exception:

https://gist.github.com/isabanin/5161838

[2013-03-14 17:31] #21 closed, assigned to nobody

[2013-04-08 14:44] mheffner opened #23 "Handle failure to parse Rack parameters"
If a user POSTs form-encoded data with a trailing '%' character, rack will fail to parse the form parameters. Honeybadger doesn't handle this exception and fails to submit the exception. See backtrace below:

[code]

The airbrake gem handles this by catching the exception to parse the parameters and instead submits the following:

[code]

[2013-04-09 14:17] panozzaj opened #24 "Inconsistent documentation?"
On master readme I see:

[code]

But in master `lib/honeybadger.rb` I see the signature:

[code]

I'm guessing the code version is right? However, it looks like we call the hash version (the one in the readme) in our app and it seems to work fine. Can you help me figure out which form is the right one? Thanks!

[2013-04-09 14:38] #24 closed, assigned to nobody

[2013-04-11 04:20] #23 closed, assigned to joshuap

[2013-04-11 14:40] mheffner opened #25 "Provide method to detect if configured"
Calling `Honeybadger.notify(exception)` in a dev environment where Honeybadger has not been configured dies with:

[code]

Is there a way to detect if Honeybadger has been configured already, aside from testing for the RACK_ENV or other configuration tuning? I'm thinking something like:

`Honeybadger.notify(exception) if Honeybadger.configured?`

[2013-05-08 19:34] ajsharp opened #28 "Honeybadger::Rack should be aware of rack cascade 404s"
We started using the Honeybadger::Rack middleware in one of our sinatra apps, and we started getting thousands of `Sinatra::NotFound` exceptions logged due to "404s" from rack cascade. Our solution was to ignore `Sinatra::NotFound` exceptions altogether, but it'd be nice if the middleware was rack-cascade-aware.

[2013-05-18 18:52] ekosz opened #29 "Honeybadger does not report errors when caught by custom error renderer"
Hi there,

I noticed that Honeybadger wasn't reporting errors that were happening in my application.  I found the source, but I feel that honeybadger should have still been reporting.

One of my developers added the following code to our application controller

[code]

Via this gist he found online: https://gist.github.com/gonzedge/1563416 (which is the first result for custom Rails errors)

I hav

[2013-05-28 16:19] mheffner opened #31 "Honeybadger captures the request body"
Our application relies on parsing the body payload from POST requests (and PUT) and exceptions can often be thrown due to invalid payloads. We would like to capture these payloads on an exception so that we can tell what input caused the exception.

AFAICT, Honeybadger does not capture the body payload on a POST request. In this case, the body is an 'application/json' formatted string.

[2013-05-29 23:19] #29 closed, assigned to nobody

[2013-05-30 15:27] #25 closed, assigned to joshuap

[2013-06-04 12:58] raykrueger opened #32 "Rake tasks require Rails"
I am trying to evaluate Honeybadger as a replacement for Airbrake in our Sinatra based app. Most of it was drop in replacement, except Rake.

After adding `require 'honeybadger/tasks'` to my Rakefile I ran into the first problem.

The first thing I encountered was a load error around action_controller/test_process. I forked the project and moved that line into the LoadError rescue that was already

[2013-06-04 16:13] #32 closed, assigned to nobody

[2013-06-19 01:55] nirvdrum opened #33 "Rack performance issue"
Unless I'm mistaken, this line (linked to tag 1.7.0) is doing way more than it should be:

https://github.com/honeybadger-io/honeybadger-ruby/blob/v1.7.0/lib/honeybadger/rack.rb#L46

I think it can be safely reduced to just `Honeybadger.clear!`, but before submitting the pull request, I wanted to make sure I'm not missing anything.  As written, it appears to potentially initialize a thread-local v

[2013-06-24 15:49] eprothro opened #35 "Use Rails filter paramters instead of static array"
https://github.com/honeybadger-io/honeybadger-ruby/blob/bca3a1de7112ba95d326a51697602f99e16cda24/lib/honeybadger/configuration.rb#L107

The user already tells a rails app about these paramaters with `Rails.application.config.filter_parameters`, it seems like using that value would be a more appropriate default.

Workaround:

[code]

[2013-07-09 13:57] knowak opened #36 "Honeybadger gives a shit about exceptions"
honeybadger/sender.rb:64

rescue => e

should be

rescue Exception =>

so that not only StandardErrors are caught. Internal exceptions shouldn't escape from an exception reporting framework.

[2013-07-10 00:53] #36 closed, assigned to joshuap

[2013-07-10 01:09] #35 closed, assigned to nobody

[2013-07-11 19:04] ghost opened #37 "Honeybadger doesn't filter params for context info..."
When calling Honeybadger.context(...), we noticed hash elements slipping in that we placed in our params_filters showing up in honeybadger notifications.  Would it make sense to filter these like the rest in https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/notice.rb#L286

we made a quick monkeypatch to accomplish what we wanted, but there may be a more appropriate loc

[2013-07-11 23:53] #33 closed, assigned to joshuap

[2013-08-01 13:27] phstc opened #38 "Add `environment_name` in the README.md"
I would like to suggest to add `environment_name` info in the [README.md](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/README.md). For me the README and even in the Project Settings in http://honeybadger.io seem to be only focused on Rails, Sinatra and Rack apps. In my case, I'm using it in a standalone ruby application.

[code]

I had to investigate the source code to check how

[2013-08-26 10:29] buger opened #39 "Overwriting api_key through `notice` object is not working"
We need to use multiple HB projects in single codebase. README says that api_key can be overwritten via notice.api_key field https://github.com/honeybadger-io/honeybadger-ruby#going-beyond-exceptions

[2013-09-06 08:01] mocoso opened #40 "It is not possible to filter sensitive data that appears in URLs or query strings"
Although you can filters apply to posted parameters and cookies, if sensitive data appears in a URL (a password reset token for example) then although it is possible to filter this in the 'Params' section of an exception report those parameters will not be filtered from the 'URL' or from the 'Environment' where it may well appear in values for 'REQUEST_URI', 'REQUEST_PATH', 'PATH_INFO', and 'ORIGI

[2013-09-20 17:57] fbjork opened #42 "ArgumentError at /admin/resque/failed wrong number of arguments (4 for 2)"
After adding resque-honeybadger to my project I get the following error when I go to the visit the Failed tab in Resque.

Any thoughts on what's going on?

ArgumentError at /admin/resque/failed
wrong number of arguments (4 for 2)
file: base.rb location: each line: 50

[2013-09-23 17:32] #42 closed, assigned to nobody

[2013-10-03 19:19] righi opened #43 "Booleans in context are ignored"
If I do the following in a before_filter...

[code]

...then Honeybadger logs this:

[code]

The "string booleans" are preserved, but the real booleans are not. This is also true of deeply nested booleans in embedded hashes.

[2013-10-14 17:57] gravityrail opened #44 ""undefined method `limit=' for #<Honeybadger::Configuration:xxxxx>" when precompiling assets"
This is with HoneyBadger 1.9.0.beta1.

In development I don't get this error, but when trying to deploy to production, during asset precompile, I get the error "undefined method `limit=' for #&lt;Honeybadger::Configuration:xxxxx&gt;"

I traced the issue to lib/honeybadger/railtie.rb, line 49. It's invoking a method that seems to be no longer implemented.

Any help you can provide would be great -

[2013-10-14 18:10] #44 closed, assigned to nobody

[2013-10-31 01:06] ce-manalang opened #45 "Selective classes notification"
Is there a way to tell Honeybadger to be notified when errors occur on specified classes only?

For example I have 2 classes: `FooBar` and `BarFoo`, I want Honeybadger to be notified only if the error occurs on `FooBar` and not on `BarFoo`

[2013-11-05 16:43] will-r opened #46 "Failure if other gems depend on faraday 0.7.x"
I'm getting Faraday errors from all of your 1.9 versions when they try to report an exception. Annoying, because hb has already caught the original error.

The problem is that your gemspec has an open dependence on Faraday while using syntax specific to 0.8. If there are other gems in the application that are ~> 0.7.x, honeybadger will blow up at runtime. In my case that includes both `oauth2` and

[2013-11-05 18:27] levity opened #47 "Show parameters to Sidekiq job in Honeybadger UI?"
When Honeybadger reports an error that happens in a Rails controller, it shows the parameters that were passed to the controller. How hard would it be to use this section to show the parameters that get passed to a Sidekiq job that causes an error notification?

[2013-11-06 01:41] #46 closed, assigned to nobody

[2013-11-06 03:38] ce-manalang opened #48 "Manual notification trigger"
Hi there.

I tried to follow your docu to trigger a notification manually to a different Honeybadger project using a different api key. You guys mentioned that any of the following keys can be overridden

[code]

I went ahead and did this:

[code]

Unfortunately, it did not work as expected. The notification was still being reported to the Honeybadger project that was previously configured.

Looki

[2013-11-07 15:02] #45 closed, assigned to nobody

[2013-11-07 15:25] #47 closed, assigned to nobody

[2013-11-07 16:24] #37 closed, assigned to nobody

[2013-11-07 20:35] tensiondriven opened #49 "Trying to reopen Honeybadger module to add local variable context works in development but not production"
I wrote a gem to get the local context that an exception is thrown in, so honeybadger reports will contain the local variables and parameters passed to a given method which is throwing an error.

It works by reopening the Honeybadger module and intercepting calls to .notify().

The meat of the method is here:

https://github.com/tronathan/honeybadger-local-context/blob/master/lib/honeybadger-local

[2013-11-14 04:11] #17 closed, assigned to nobody

[2013-11-15 00:40] #43 closed, assigned to nobody

[2013-11-16 19:19] imouaddine opened #51 "Compatibility issue with Capistrano 3.0"
When I run cap deploy I receive this error:

[code]

I'm using Capistrano 3, here is a snippet from my Gemfile:

[code]

And in my Capfile, I have this:

[code]

Thanks for looking at the issue.

[2013-11-25 03:48] mockdeep opened #52 "NoMethodError: undefined method `[]' for nil:NilClass in Rails 3.2 project"
When I run the generator on a Rails 3.2 project I get the following exception. Rather than the expected test exception this shows up in my account in it's place. Otherwise, everything seems to be working fine.

[code]

[2013-12-03 19:37] mockdeep opened #53 "Getting an exception running `rake db:migrate` on heroku"
It still seems to run fine, but I see this in the output:

[code]

[2013-12-05 00:06] #49 closed, assigned to nobody

[2013-12-08 04:56] #52 closed, assigned to nobody

[2013-12-08 05:00] #38 closed, assigned to nobody

[2013-12-10 21:21] bobbytables opened #54 "Test mode"
If you're using they `Honeybadger.notify` method on non-railsy projects it can be kinda hairy in testing environments. For example:

[code]

In a testing environment this is kinda a hidden failure. If the test is simply asserting that a method was called and everything after it works fine, then this would never actually show you that the test had an exception raised.

For my proposal I say that Ho

[2013-12-11 07:25] ce-manalang opened #55 "Force sending of notification"
Is there a way to ignore the development environments, and just send the notification? Based on the code, it does not look like there is.

Reason: I would like to smoke test things on a staging server (which is included in the dev environments), but no notifications are sent.

[2013-12-12 22:19] #55 closed, assigned to nobody

[2013-12-12 22:55] #48 closed, assigned to nobody

[2013-12-12 22:56] #39 closed, assigned to nobody

[2013-12-17 15:50] emadrid opened #56 "Manually invoking notifications"
Calling Honeybadger.notify with any permutation of hash, exception, etc does not actually notify and returns nil.

taken from: [http://docs.honeybadger.io/article/41-manually-sending-exceptions-and-events](http://docs.honeybadger.io/article/41-manually-sending-exceptions-and-events)

[code]

The following sequence (derived from notice_spec.rb) works:

[code]

[2013-12-19 22:08] wikyd opened #57 "Controller notify_honeybadger should be protected"
The comment on the method says that you can call this method to manually report an exception with appropriate context. (Line 17 of https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/rails/controller_methods.rb)

However, because the method is private, I am not able to call it.  Instead, an exception is thrown.  I would like to call this method in my API controllers to a

[2013-12-20 00:26] #53 closed, assigned to nobody

[2013-12-20 13:14] #57 closed, assigned to nobody

[2013-12-23 16:48] nirvdrum opened #58 "Memory leak on JRuby"
JRuby application servers that can do hot redeploys will shut down the old JRuby runtime without exiting the process. In the new metrics stuff, honeybadger creates a thread that won't shut down until the process dies. This thread will cause a stopped JRuby runtime to sit around in memory much longer than necessary (they appear to be weakrefs and as such, should eventually be GC'd).

The simple fix

[2014-01-07 04:46] nirvdrum opened #60 "Metrics worker concurrent modification issue"
Honeybadger keeps raising errors for us due to concurrent modification of the metrics hash in:

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/monitor/worker.rb

It's a race condition, so it's a bit hard to reliably reproduce, but it happens frequently enough.

The problem is that dup'ing a hash requires making an entire copy of it, which means iterating through it.

[2014-01-08 16:21] #56 closed, assigned to nobody

[2014-01-08 18:33] #58 closed, assigned to nobody

[2014-01-13 19:40] #60 closed, assigned to nobody

[2014-01-29 00:30] shilov opened #62 "Manually calling notify loses parameters if context is set"
I have a before_action defined in the controller to include context data for each request.

One of the controller actions invokes a custom library class which calls Honeybadger.notify when it runs into problems. The call looks like this:

[code]

In this case, params is a hash that's locally defined within that library class. However, when viewing the error on the site only the context is defined

[2014-01-31 01:16] #62 closed, assigned to nobody

[2014-02-02 05:10] mperham opened #63 "Add Sidekiq support"
I'm going to drop native support for error handlers in Sidekiq 3.0, so as to not play favorites and give each error service full control over their own implementation.  This includes Honeybadger so you'll need to ship your own Sidekiq 3.0 support.

To be clear, I'll be removing this line:

https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/exception_handler.rb#L13

BugSnag has a sample imp

[2014-02-04 17:45] #15 closed, assigned to nobody

[2014-02-05 10:33] alisnic opened #64 "RuntimeError: can't add a new key into hash during iteration"
[code]

[code]

[code]

[2014-02-05 21:34] #51 closed, assigned to nobody

[2014-02-05 21:35] #40 closed, assigned to nobody

[2014-02-05 21:37] #64 closed, assigned to nobody

[2014-03-04 18:03] jwreagor opened #66 "List of Deployments"
Is there any chance you guys could support an API end point for accessing the list of Deployments you keep in Honeybadger? I can add the support to the gem to retrieve them.

I realize I could store this data myself... but since you guys already do it in such a lovely fashion, why not leverage it there? :)

[2014-03-07 21:37] #66 closed, assigned to nobody

[2014-03-24 16:16] benmoss opened #68 "Swallowed exceptions"
I experienced a really mysterious bug where Honeybadger seems to be catching and not re-raising Rack middleware exceptions.

I've made a simple Rails app that reproduces the bug: https://github.com/benmoss/honeybadger-rack-exception. Just run `rails s` and hit the server and you'll see the issue.

The gist of it is that it seems that it seems the `rack.session` hash will raise exceptions on missin

[2014-05-01 18:14] pomartel opened #72 "Raising rescued exceptions in Development mode"
When running in local, honeybadger will not send exceptions which is fine. But it will also swallow manually rescued exceptions without any notices like in the example mentioned here : http://docs.honeybadger.io/article/32-log-ruby-exceptions-already-rescued

Here is the behaviour I would like to see implemented directly in the `notify_honeybadger` method :

[code]

I could of course do this all o

[2014-05-05 03:21] #72 closed, assigned to nobody

[2014-05-14 21:08] coffeebite opened #74 "The optional metrics feature is not enabled for your account. Try restarting your app or contacting support@honeybadger.io if your subscription includes this feature."
Hey Guys

I see my rails log peppered with this message. Why is that? I don't think I'm even sending any optional metrics.

Are notify calls that send a hash considered optional metrics?

[2014-05-15 00:18] #63 closed, assigned to nobody

[2014-05-16 23:11] #74 closed, assigned to nobody

[2014-05-20 19:01] jherdman opened #75 "Changelog Isn't Up To Date"
It looks like the change log hasn't been updated since before the 1.12.0 release. I know it's a pain to maintain these things, but it really is appreciated /me sends hugs

[2014-05-20 19:12] #75 closed, assigned to nobody

[2014-05-23 23:19] #68 closed, assigned to nobody

[2014-05-27 06:34] bradleypriest opened #76 "Spamming log files"
I'm seeing this line multiple times on deploy

`** [Honeybadger] The optional metrics feature is not enabled for your account.  Try restarting your app or contacting support@honeybadger.io if your subscription includes this feature.`

I've set up my configuration to turn off metrics, but it still persists

[code]

[2014-05-27 12:28] #76 closed, assigned to nobody

[2014-06-19 18:49] darrenboyd opened #78 "undefined method `no_commands' for Thor:Class"
I am seeing the following error, when running a local development sidekiq process.

[code]

I have...

[code]

I run sidekiq (well, everything in dev) through foreman, with the following Procfile...

[code]

It appears that sidekiq continues to run without issue.

I can try and get more information if you need.  I'm not even sure that honeybadger is at fault here, but all the error messages seem t

[2014-06-20 01:26] #78 closed, assigned to nobody

[2014-06-23 16:26] henrik opened #79 ""The optional metrics feature is not enabled …" during Heroku asset compilation (ditto for "traces feature")"
I'm on 1.15.0 and I get this when I deploy:

[code]

I also used to get output about a missing key (at the same stage, IIRC, ENVs aren't available during precompile) before I added the fallback to

[code]

As commented in #74: https://github.com/honeybadger-io/honeybadger-ruby/issues/74#issuecomment-46600314

[2014-07-03 20:21] schiza opened #81 "ActiveRecord::StatementInvalid: NoMethodError: undefined method `connection_config' for ActiveRecord::Base:Class [...]"
It doesn't work for Rails < 3.1.0.

Commit that introduces that: https://github.com/honeybadger-io/honeybadger-ruby/commit/f25609bc2a75c5519c28aa77e43ffc337485c83d , line: https://github.com/honeybadger-io/honeybadger-ruby/blob/f25609bc2a75c5519c28aa77e43ffc337485c83d/lib/honeybadger/monitor/trace.rb#L109 . So versions >= 1.15.0 are uncompatible with older Rails.

Possible solution: to maintain co

[2014-07-07 22:20] #81 closed, assigned to nobody

[2014-07-09 18:06] janxious opened #84 "Delayed Job/Monitor::Worker Integration Bug"
In an app I'm working on, I am seeing a bug that seems related to this code in lib/monitor/worker.rb and `Thread.current[:hb_trace_id]` having no value when used in conjunction with a DJ `.delay` method call.

[code]

The code that is causing issue is something like:

[code]

Interesting things going on there: the last delayed job count is actually 1, and notify_or_ignore gets hit 4 times instead

[2014-07-10 09:10] loybert opened #87 "Honeybadger prevents NewRelic from monitoring error rate"
Due Honeybadger catches any exception and reports that to it's webservices, those exception won't be re-raised, so other monitoring/reporting tools such as NewRelic won't be able to be aware of raised errors.

Is there any way to prevent Honeybadger from "swallowing" and keeping a raised exception?

Thanks and kind regards

[2014-07-10 21:34] #79 closed, assigned to nobody

[2014-07-12 20:04] #84 closed, assigned to nobody

[2014-07-16 14:23] fabiokr opened #88 "Slower specs after gem upgrade"
We recently noticed our app specs running time has almost doubled, and we tracked it down to a Honeybadger upgrade from 1.13.2 to 1.16.1. We tried a couple versions in between, and it seems that it starts on 1.14.0. Does anything comes to mind that changed in between those versions that could be causing it?

[2014-07-16 21:24] corwinstephen opened #89 "undefined method `match' for nil:NilClass"
On upgrading to 1.16 I started getting an `undefined method `match' for nil:NilClass` error when making Http requests.

Stack trace:
/srv/nbuild/shared/bundle/ruby/1.9.1/gems/httparty-0.11.0/lib/httparty/request.rb:92:in `perform'
/srv/nbuild/shared/bundle/ruby/1.9.1/gems/httparty-0.11.0/lib/httparty.rb:461:in`perform_request'
/srv/nbuild/shared/bundle/ruby/1.9.1/gems/httparty-0.11.0/lib/httparty.

[2014-07-16 22:31] #89 closed, assigned to nobody

[2014-07-21 12:28] mbj opened #90 "Does not denegenerate gracefully with session_off gem."
When using honeybadger with the `session_off` gem active currently an exception will get raised. `undefined method 'data' for nil:NilClass` from this line: https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/rails/controller_methods.rb#L61

I'd suggest to guard against `nil` session and return an empty hash in that case.

[2014-07-21 21:01] #90 closed, assigned to nobody

[2014-07-21 21:03] #88 closed, assigned to nobody

[2014-07-29 03:18] zmillman opened #91 "Publish 1.16.4 to RubyGems"
The most recent gem version hasn't been published to RubyGems: https://rubygems.org/gems/honeybadger

[2014-09-24 19:04] ryansch opened #94 "2.0 installer error with Rack::Throttle middleware"
I'm playing with the 2.0 branch and I'm unable to send a test notice.  I have the following rack throttle adapter loaded.

[code]

The honeybadger cli fails to send a test as the `user_password_path` method is undefined.  When I boot our app normally, the `include Rails.application.routes.url_helpers` defines that method.  I'm not sure what's different in the way the cli is booting the rails app.

[2014-09-24 19:13] #91 closed, assigned to nobody

[2014-10-16 13:45] stamm opened #96 "Option honeybadger_async_notify don't work"
I have installed gems: capistrano-rbenv, capistrano-bundler
When I deploy, capistrano run this command:

[code]

but it doesn't send message to honeybadger

I set honeybadger_async_notify to false, it works.

[2014-10-17 16:36] #87 closed, assigned to nobody

[2014-10-17 16:50] #96 closed, assigned to nobody

[2014-10-17 20:54] thoughtpunch opened #97 "Getting Honeybadger.io exception URL from exception ID?"
So the `Honeybadger.notify` method returns the exception ID on success (ex. `8bcb5812-65d8-42da-866f-59be20a1db0d`).

How can I get a URL to the exception on Honeybadger.io from the exception ID? I'd really like to put this in our system logger for easier debugging

[2014-10-17 21:37] #97 closed, assigned to nobody

[2014-11-06 10:43] fluxsaas opened #99 "deploy error"
executing:

[code]

same with a normal `bundle exec cap production deploy`

capistrano 3, rails 4.1.6

trace:

[code]

[2014-11-26 17:43] #99 closed, assigned to nobody

[2014-12-02 17:52] cspeer opened #100 "Capistrano: Don't know how to build task 'honeybadger:deploy'"
Hi,

I just installed the game, saw that my Capfile was modified but upon deploy I get this error:

[code]

I'm running honeybadger 1.16.6, capistrano 3.2.1 and rails 4.1.7

[2014-12-02 17:52] cspeer opened #101 "Capistrano: Don't know how to build task 'honeybadger:deploy'"
Hi,

I just installed the game, saw that my Capfile was modified but upon deploy I get this error:

[code]

[2014-12-02 17:53] #101 closed, assigned to nobody

[2014-12-02 20:03] #100 closed, assigned to nobody

[2014-12-22 19:16] starrhorne opened #102 "Error on `honeybadger heroku install` with gem version 2.0.0.beta.10"
The command that adds the heroku deployhook fails for some reason. It works fine when I copy and paste the `heroku addons:add deployhooks:http...` code into the console manually.

Here's a screenshot:

![error](http://note.io/13VUJjJ)

link to screenshot: http://note.io/13VUJjJ

[2014-12-22 19:47] starrhorne opened #103 "`honeybadger test` fails if api key is a string (2.0.0.beta.10)"
If the api key in `honeybadger.yml` or a figaro `application.yml` is a string, the test task fails with the message:

This is especially a problem in figaro, since it converts everything to a string. :)

Note that the API key is shown in the debug info output by the task. It looks fine. It's just flagged as invalid.

I'm not sure why this is happening. It would seem from the following line of code

[2014-12-26 02:36] diasks2 opened #105 "warning: circular argument reference when updating to Ruby 2.2.0"
After updating my app to Ruby 2.2.0 I get the following warning when starting my local server, running my tests, or starting a background worker:

[code]

[2014-12-26 02:57] #105 closed, assigned to nobody

[2015-01-06 18:41] #94 closed

[2015-01-06 18:46] joshuap commented on #103
@starrhorne can you include a gist of the application.yml file, and the failing honeybadger.yml file? The api key should *always* be a string, so the problem here is more likely that the configuration name is incorrect, or maybe figaro is tweaking it somehow?

[2015-01-06 18:48] starrhorne commented on #103
Will do. 1 sec. FWIW, the debug output from the test task SHOWS the correct api key.

Also, I get the same error on a heroku app with HONEYBADGER_API_KEY set as an env variable.

[2015-01-06 23:24] #103 closed, assigned to joshuap

[2015-01-06 23:24] #102 closed, assigned to joshuap

[2015-01-11 18:09] arthurnn opened #107 "ActionDispatch::ParamsParser::ParseError been catch by honeybadger"
`ActionDispatch::ParamsParser::ParseError` errors are logged to honeybadger, but they should not.

For instance, when:
`curl -X PUT --data "omg } "  -H "Accept: application/json" -H "Content-Type: application/json" https://rubygems.org`

it returns a 400 error, as `ActionDispatch::ShowExceptions` handles the `ParseError` and reply with the right body/status. However that error should not go to hon

[2015-01-11 21:48] starrhorne commented on #107
Hi Arthur,

If you'd like to ignore the parse error, there's a line you can add to the gem configuration to do that. Here's an example: http://docs.honeybadger.io/article/42-ignoring-exceptions-by-class

While we do ignore things like routing errors we do so by exception class, not by the HTTP status code.

I'll discuss with the team about adding ParseError to the ignored exceptions. But the quick

[2015-01-12 15:02] arthurnn commented on #107
@starrhorne I tried this https://github.com/rubygems/rubygems.org/commit/263492074c2eb7944a354a5793922c97225a324d , but it actually didnt work. it still logs errors. And what is weird, is that the error is a `JSON::ParserError` and not a `ActionDispatch::ParamsParser::ParseError`. But rails wraps that error in there:
https://github.com/rails/rails/blob/116695b25890e2587923d4a237ce4107e3adb145/acti

[2015-01-12 17:28] starrhorne commented on #107
Ah, I see. I'm looping in @joshuap (our gem expert) to confirm this, but I believe the problem here is that our gem uses `error.cause` by default. So in a "nested" exception, we look at the bottom level.

[Here's the relevant code from our gem](https://github.com/honeybadger-io/honeybadger-ruby/blob/790e106627ab1792d1b0f64207ccf344f7e071b7/lib/honeybadger.rb#L192)

The solution for now is to eithe

[2015-01-12 17:44] joshuap commented on #107
:+1: try disabling the `unwrap_exceptions` option and let me know if you still see those exceptions being reported.

[2015-01-12 20:05] arthurnn commented on #107
I had a hunch that was the problem, but could not find where the code was it.

We will upgrade rubygems.org to version 2.0 as soon as it is out. Btw @joshuap what you think about adding `ActionDispatch::ParamsParser::ParseError` to the list of ignored errors by default? I can follow this up with a PR if thats something you think it is valid.

thanks

[2015-01-13 05:20] joshuap commented on #107
@arthurnn I'm all for ignoring any exceptions (by default) which truly are not exceptional cases in Rails (routing errors, for example). Can you remind me if `ActionDispatch::ParamsParser::ParseError` fits that bill? i.e., would there be normal circumstances where I would want to know if parsing params is failing, assuming I have an action which expects a JSON request with params?

[2015-01-13 14:09] arthurnn commented on #107
So, rails has `ShowExceptions` https://github.com/rails/rails/blob/116695b25890e2587923d4a237ce4107e3adb145/actionpack/lib/action_dispatch/middleware/show_exceptions.rb middleware , which uses `ExceptionWrapper ` https://github.com/rails/rails/blob/116695b25890e2587923d4a237ce4107e3adb145/actionpack/lib/action_dispatch/middleware/exception_wrapper.rb#L8-L20 , which has a list of errors that are ha

[2015-01-14 00:02] joshuap commented on #107
Agreed, yeah we ignore some of those, but we should probably ignore them all. I try to follow semver, and I'd want to wait for the next major release ([2.0](https://github.com/honeybadger-io/honeybadger-ruby/tree/2.0)) to change anything which folks would consider api-breaking. That said, since we have always ignored similar exceptions from Rails in the past, I don't think this change would be a d

[2015-01-31 04:02] joshuap commented on #54
We now have the ability to assert error notifications are delivered (at least to the point of the HTTP request, which is stubbed, of course). See the documentation for `Honeybadger.flush` for more info:

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger.rb#L209

When you set the `HONEYBADGER_BACKEND=test` config option, notices reported by Honeybadger will be available

[2015-01-31 04:02] #54 closed

[2015-01-31 04:07] joshuap commented on #28
Closing this out; feel free to reopen if you can provide more information.

[2015-01-31 04:07] #28 closed

[2015-01-31 04:18] joshuap opened #108 "Wake up disabled workers periodically"
Currently the workers will shut down until the next app restart when the server responds with a 402 (payment required) or 403 (bad api key). I'm thinking it would be a good idea to periodically wake up the disabled worker(s) and allow it to try sending data again so that an accidental 403 (however unlikely) wouldn't totally stop the flow of data until the next deployment.

[2015-01-31 04:19] joshuap opened #109 "Native Resque support"
I had started building Resque support on the 2.0_resque branch, so I need to remember what needs to be finished and get it merged.

[2015-02-02 20:35] KurtPreston commented on #29
@joshuap We've tried using the ```notify_honeybadger(exception)```, except that when we do, we seem to be missing lots of information from the Honeybadger error, such as session, cookie, and param details.  Is there any easy way to preserve this information?

[2015-02-02 20:45] KurtPreston commented on #29
@joshuap I'm sorry, nevermind.  We tested wrong.  It works great.  Thanks!

[2015-02-03 17:58] ryansch opened #111 "Error in worker thread: Stack level too deep"
If I configure honeybadger to use the 'debug' backend and then run our feature tests, I end up with lots of these messages in my test log:

[code]

[2015-02-03 18:00] ryansch commented on #111
Appears to be coming from: https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/agent/worker.rb#L134

[2015-02-03 18:11] joshuap commented on #111
Hey Ryan, thanks for the report. Do you get the same error with the 'null' backend? Also, you could try running with `HONEYBADGER_LOGGING_DEBUG=1` for some additional logs (it will probably be a lot in an integration suite, so you may also want to write that to a separate log file with something like  `HONEYBADGER_LOGGING_PATH=honeybadger-test.log`)

[2015-02-03 18:13] joshuap commented on #111
Oh, also: do you happen to be manually including `ActionDispatch::TestProcess` anywhere in your test code?

[2015-02-03 18:14] ryansch commented on #111
Actually yes we do include `ActionDispatch::TestProcess` in a few places for `fixture_file_upload`.

[2015-02-03 18:22] joshuap commented on #111
Ahah! Sorry, I spent like a day debugging this issue myself, so I'm kind of happy that it's paying off here. :)

So that module includes more than you think (and on `Object`!):

https://github.com/rails/rails/blob/a779ea9d57b00bd3b59f5546603271c2d302247c/actionpack/lib/action_dispatch/testing/test_process.rb#L13

Because `Honeybadger::Notice` delegates `#session` to `@request` which gets called fr

[2015-02-03 18:23] joshuap commented on #111
I fixed that problem by defining the following in my spec_helper:

[code]

and removing the direct includes to `ActionDispatch::TestProcess`.

[2015-02-03 18:25] ryansch commented on #111
I can confirm that I don't get the error with the null backend.  I'll pull that include out and report back.

[2015-02-03 18:37] ryansch commented on #111
Success!  Thanks for sharing that solution.

[2015-02-03 18:37] #111 closed

[2015-02-03 18:50] joshuap commented on #111
No problem, glad I could help! For future searchers, a way to demonstrate this problem outside of Honeybadger is to call `nil.session` after including `ActionDispatch::TestProcess`.

[2015-02-06 23:42] postmodern opened #113 "Honeybadger::Rack no longer works with Sinatra/Padrino"
I noticed that examples recommend `use Honeybadger::Rack` to add honeybadger to the Rack stack. However, this no longer seems to work. In Padrino 0.12.4 and Sinatra 1.4.5, I get the following error:

<pre>
[2015-02-06 15:40:41] ERROR NoMethodError: undefined method `new' for Honeybadger::Rack:Module
	/home/hal/.gem/ruby/2.0.0/gems/rack-1.5.2/lib/rack/builder.rb:86:in `block in use'
	/home/hal/.gem

[2015-02-06 23:46] joshuap commented on #113
There have been some changes as of version 2.0 of our gem, so we may have some outdated documentation somewhere. Can you link me to the documentation which says to use Honeybadger::Rack? Here is the correct documentation for Rack apps:

http://docs.honeybadger.io/article/30-setting-up-exception-monitoring-in-rack-applications

[2015-02-06 23:46] #113 closed

[2015-02-06 23:54] postmodern commented on #113
* https://github.com/honeybadger-io/honeybadger-sinatra-example/blob/ef4152f2a3ee6ef089424ef19ae894c7b30aa734/server.rb

[2015-02-07 00:11] postmodern commented on #113
Also https://devcenter.heroku.com/articles/honeybadger#using-with-sinatra

[2015-02-07 00:20] joshuap commented on #113
Oops, thanks. I'll work on updating those. :) So if you're using Sinatra, I have good news: it should automatically add the new middleware for you without following the Rack instructions. Just make sure you're using the latest gem version (2.0.2 currently). This is the official config doc for Sinatra:

http://docs.honeybadger.io/article/31-setting-up-exception-monitoring-in-sinatra-applications

I

[2015-02-07 00:22] postmodern commented on #113
Ah. I believe Padrino cannot leverage the Sinatra hooks, since they use a custom router in front of Sinatra. I opened an issue with them about working on honeybadger integration.

[2015-02-07 00:28] joshuap commented on #113
Hmm, yeah, I'm not sure what to expect there. We *do* patch directly into Sinatra's build process, so if they are starting Sinatra using conventional methods, it may "just work" (but you're right that the routing process would likely be unaware of Honeybadger):

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/init/sinatra.rb

That said, I haven't tried this with Padr

[2015-02-07 00:32] postmodern commented on #113
https://github.com/padrino/padrino-framework/issues/1877 At the very minimum, a plugin generator would help users get going.

[2015-02-07 00:57] joshuap commented on #113
Cool, thanks! I left a comment and will keep an eye on the issue over there.

[2015-02-10 03:55] yuki24 opened #114 "Honeybadger gem only reports the original exception"
I have code that looks like the below:

[code]

In this case, honeybadger only reports the original one since it unwraps the last exception with `#cause`. I would like honeybadger to report both of the exceptions. This is more like a feature request for honeybadger.io itself, not for this gem, but what do you think of it?

[2015-02-10 17:56] joshuap commented on #114
Hi Yuki, are you using v1.x of the gem? In v2.0 we switched to always report the raised exception rather than the original exception. Also, 2.0 is sending a list of causes for the error so that we can display that information client-side -- we just haven't gotten around to adding it to the UI yet. I'll see if we can get that on the roadmap. :) If you want to upgrade, we have a guide here: http://d

[2015-02-10 17:56] #114 closed

[2015-02-10 17:58] joshuap commented on #107
I'll plan on updating the default ignored errors for the v2.1 release unless someone beats me to it.

[2015-02-11 06:01] yuki24 commented on #114
@joshuap that's good to know. Thanks!

[2015-02-11 15:04] arthurnn opened #116 "[2.x] How to add a error to the exceptions.ignore list"
Want to add `"ActionDispatch::ParamsParser::ParseError"` to the list of defaults errors, tried to read the docs, and it says to use the `exceptions.ignore` option.
http://docs.honeybadger.io/article/198-gem-configuration

However as far as I can see, from the code, https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/config/defaults.rb#L5-L13 , if I set something for that

[2015-02-11 15:06] arthurnn commented on #107
On 2.x , thats the middleware that notifies the framework handled errors https://github.com/honeybadger-io/honeybadger-ruby/tree/master/lib/honeybadger/rack/error_notifier.rb#L39-L42 . IMO, we should provide an option to ignore those. As the framework handled them, means that a nice status code is been returned to the user, so most likely we can ignore those errors.

[2015-02-11 17:28] joshuap commented on #116
Currently you would need to add the default ignored exceptions to your configuration, like so:

http://docs.honeybadger.io/article/42-ignoring-exceptions-by-class

I know that's not ideal, and I'm open to suggestions for how to append to the list via the YAML configuration -- I'd like to come up with a standard approach since there are other configuration options which could benefit.

[2015-02-12 17:51] joshuap commented on #116
FYI, I think I'm going to be changing this behavior so that it appends to the list of ignores by default; that seems to be the most common use case for the options. Let me know if there are any objections to that. :)

[2015-02-12 18:21] arthurnn commented on #116
I agree... 80%-90% of the cases you want to append to the list.
You could make that a `Set` instead of an array, so even if people append things that exist already it wont be doubled in the list.

[2015-02-12 18:56] joshuap commented on #116
Thanks for the feedback. I liked the idea of using `Set`, but opted for `Array` because as far as I know YAML doesn't support `Set`, and I want to keep it consistent across configuration sources. I just used the #|/#union method to remove duplicates when merging the value. I also added a new `exceptions.ignore_only` option in order to override the list entirely. I'm going to release a 2.0.x patch

[2015-02-12 18:58] arthurnn commented on #116
:+1: sounds good.. thanks

[2015-02-12 19:19] joshuap commented on #116
I've released 2.0.5 and updated our docs here:

http://docs.honeybadger.io/article/42-ignoring-exceptions-by-class

Thanks again!

[2015-02-12 19:19] #116 closed

[2015-03-13 19:08] MarceloCajueiro opened #120 "Set context in the controller"
Hey guys,

I tried to use this approach:

[code]

But in some cases the `before_action` can run before `current_user` be defined.

What do you think about use lambda to avoid this scenario?

[code]

[2015-03-14 00:11] joshuap commented on #120
Hi Marcelo, can you show me how to produce the issue of the `before_action` being called before the `current_user` method is defined? Thanks!

[2015-03-29 16:51] quidproquo opened #122 "Change environment or add error category to notify"
I'm trying to figure out if there is a way to (on the fly) to change the honeybadger environment during a call to Honeybadger.notify(). Basically I want to be able to channel certain errors to an envt like production-data so that they are segregated from regular production errors. Is there a way to add a category/tag or just simply change the Environment value so that this is achievable?

[2015-03-31 09:53] schiza opened #123 "Hard dependency on Rack"
With version 2.0 there is a hard dependency on `rack` which is implicit in the code, not in the gemspec.

https://github.com/honeybadger-io/honeybadger-ruby/blob/f64b134be1bdf724fd4a2746daf5cc32b4772d72/lib/honeybadger/const.rb#L13-L19

Almost all files from here (meaning `lib/honeybadger/rack`) are explicitly requiring `rack` or some of its internals.

Is this on purpose? There is not mention abo

[2015-03-31 16:24] joshuap commented on #123
The Rack module referenced there is Honeybadger::Rack, not ::Rack. Rack should be an optional dependency and only loaded for frameworks which require it. We autoload our internal constants, but as long as you don't reference them they shouldn't be required. It may be better to force requiring "honeybadger/rack" rather than autoloading those modules to be more explicit, though.

Are you getting a s

[2015-03-31 16:50] joshuap commented on #122
Hey Ilya, we don't support setting the env on the fly, but I'll think about adding that. In the meantime, have you thought about using tags? You can set tags when calling Honeybadger.notify like this: `Honeybadger.notify(error, tags: 'one, two')`, and then [search for errors matching certain tags in the UI](http://docs.honeybadger.io/article/70-search-exceptions-by-class-and-error-message).

[2015-03-31 16:50] #122 closed

[2015-03-31 16:52] quidproquo commented on #122
Tags would work, thanks!

On Tue, Mar 31, 2015 at 12:50 PM, joshuap <notifications@github.com> wrote:

[2015-03-31 19:36] schiza commented on #123
I mentioned, that files form this module are explicitly requiring `rack` or its components, example here: https://github.com/honeybadger-io/honeybadger-ruby/blob/f64b134be1bdf724fd4a2746daf5cc32b4772d72/lib/honeybadger/rack/request_hash.rb#L1

And for the error, here's some cleared backtrace:
[code]

[2015-03-31 21:27] joshuap commented on #123
Ah, thanks for the backtrace. Yeah, Notice should not be requiring request_hash when Rack isn't available -- sorry about that. I'll work on a fix for the next release, and make sure our standalone test suite verifies that the core features work without Rack.

[2015-04-02 21:45] joshuap commented on #123
A fix for this has been released in 2.0.11; let me know how it works for you sans-rack!

[2015-04-02 21:45] #123 closed

[2015-04-03 00:46] stefansundin opened #124 "Can't enable honeybadger errors locally"
I can't seem to enable honeybadger to report errors when in development mode. I tried setting `HONEYBADGER_ENABLED=true`, but it didn't work.

It did work when I used `HONEYBADGER_ENV=production`, but that obviously reported the error as a production error, which it isn't.

[2015-04-03 01:24] joshuap commented on #124
Hi Stefan, `HONEYBADGER_REPORT_DATA=true` is what you're after; that should cause the development environment errors to be reported. Can you point me to any references in our documentation to `HONEYBADGER_ENABLED` so that I can correct the mistake? Thanks!

[2015-04-03 01:24] #124 closed

[2015-04-03 04:02] stefansundin commented on #124
The lack of documentation made me hunt around in the code, and that's how I found the ENABLED flag, and it looked like it acted like a master switch of some kind. It would be great if the documentation can be improved so that `HONEYBADGER_REPORT_DATA` is more prominent. Thank you!

[2015-04-03 14:45] schiza commented on #123
Yeah, it's fixed ;) Thanks!

Can't really tell how it works sans-rack, because I've bumped into this when testing a gem requiring honeybadger, but not rack, so kind of accidentally.

[2015-04-04 15:42] gstark opened #125 "ENV vars containing commas, such as HONEYBADGER_USER_INFORMER_INFO, are parsed as arrays instead of a single string."
These env vars are parsed as arrays and lead to surprising errors for the gem user at startup. I am not sure of the best way of dealing with this and so I did not attempt a pull-request.

Some ideas:
* Does the 12-factor community has a standard for data structures represented as string based environment variables?
* Arrays in env strings should be surrounded in [ ... ]
* Update the Config class t

[2015-04-07 01:04] joshuap commented on #125
Thanks for reporting this; great point. I guess one thing I could do is specify the required data type/class when defining the available options [here](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/config/defaults.rb#L17), and then use that information when parsing values from ENV. I think that's what you're describing in your third bullet point, right?

The reason

[2015-04-09 01:32] MarceloCajueiro commented on #120
I will close this for now. When I try to use it again I give a feedback.

Thanks!

[2015-04-09 01:32] #120 closed

[2015-04-10 21:37] joshuap commented on #125
Btw, I'm working on a fix for this on the config_types branch. In the meantime, you should be able to add a config/honeybadger.yml file and just specify the `user_informer.info` value there, as described here: http://docs.honeybadger.io/article/48-show-users-a-unique-id-when-they-encounter-an-error

[2015-04-13 16:30] ksheurs opened #127 "No exceptions via Sinatra Rakefile"
Hi there,

I'm running 2.0.11 and can't seem to get exceptions to report via the Rakefile. I have `honeybadger.yml` and from my understanding rake tasks should be picked up automatically (no need to `require 'honeybadger'`). Any ideas?

The rake tasks are being run for Heroku's Scheduler.

[2015-04-13 16:31] ksheurs commented on #127
my yml fyi:

[code]

[2015-04-13 16:40] starrhorne commented on #127
Hi there,

The gem should automatically pick up the api key from the HONEYBADGER_API_KEY environment variable. So try deleting the api_key line from the yaml file and see if that fixes it for you.

[2015-04-13 16:40] #127 closed

[2015-04-13 17:25] ksheurs commented on #127
Hi @starrhorne. Still doesn't seem to be coming through. Is there a manual way to initialize Honeybadger from the Rakefile?

[2015-04-13 17:33] joshuap commented on #127
Hey Kevin, I believe you would need to require honeybadger in your Rakefile if it hasn't been required by bundler (or somewhere else in your initialization process) first. Ideally you should `require 'rake'`, and then `require 'honeybadger'`. Once Honeybadger is required it should automatically report rake exceptions (assuming your API key is configured). If it doesn't, could you send me a gist wi

[2015-04-13 17:54] ksheurs commented on #127
thanks @joshuap. below is the example:

[code]

[2015-04-13 18:42] joshuap commented on #127
Ah, I forgot that we need to call `Honeybadger.start` manually in this case. The following should work, *but only when not attached to a terminal*:

[code]

The reason we don't report exceptions in rake applications when attached to a terminal is that it implies that the user is already aware of the error. Running the rake task as a cronjob would result in an exception being reported, however.

[2015-04-13 20:13] ksheurs commented on #127
that did it, thank you!

[2015-04-14 01:17] som-poddar opened #129 "Setting honeybadger_server for a ruby app (not Rack based)"
I am using Capistrano to deploy `ruby` based cron job to multiple servers. While deploying from local, I keep seeing the following ...
[code]

How do I fix this error ?

[code]
I tried to set the server as above, didn't help.

[2015-04-16 04:31] jfelchner opened #130 "unwrap_exceptions in 2.x?"
There used to be a configuration option to unwrap exceptions.  This is the number 1 reason we switched to Honeybadger but I didn't see this on the new 2.x configuration page.  Nor did I see it in the 2.x code.  How do I do this in 2.x?

[2015-04-16 15:52] joshuap commented on #130
Hi Jeff; so to be clear, when an exception is rescued, you want the cause (or original_exception) to be reported rather than the exception which was raised?

To answer your question, we changed how this works by default in 2.0; we are now reporting the raised exception but also sending the unwrapped exception with it. We don't display the additional cause data in the UI yet, but we're working on t

[2015-04-16 19:25] jfelchner commented on #130
@joshuap basically I need whatever `unwrap_exceptions` did in 1.x to happen in 2.x. :grinning:  I can't remember exactly what that was, but it's the thing that fixed a bunch of our error reporting issues.

[2015-04-16 19:26] jfelchner commented on #130
It either had to do with exceptions being grouped when the shouldn't've been or not being grouped when they should've been I believe.

[2015-04-16 19:28] jfelchner commented on #130
@joshuap I believe that this was the issue we were having, but I'm not 100% sure:

https://github.com/bugsnag/bugsnag-ruby/issues/165

[2015-04-21 23:04] joshuap commented on #130
@jfelchner Basically `unwrap_exceptions` in 1.0.x caused the `#cause` of the exception (including `#original_exception` and a few other patterns) to be reported rather than the exception that was actually raised. This is useful in some cases such as `ActionView::Template::Error` or `Faraday::Error` where all exception are wrapped and you would rather see the original error. I'm guessing that's wha

[2015-04-21 23:07] joshuap commented on #129
@som-poddar sorry for the delayed response. You would need to set honeybadger_server to a server which is defined in one of your deployment roles. If you want me to help further, could you email an example of your config/deploy.rb file to support@honeybadger.io?

[2015-04-21 23:07] #129 closed

[2015-04-24 01:08] jfelchner commented on #130
@joshuap sure.  Honestly that combined with the changes to the way you all are doing the configuration are going to force us to stay on `1.x` for the foreseeable future.

[2015-04-24 01:12] joshuap commented on #130
I actually added this today: https://github.com/honeybadger-io/honeybadger-ruby/commit/87f664aa32213722d960eb0103f76fb637397c9d :) That will allow you to go optionally configure the gem to unwrap the exception the old way.

What else about the configuration is preventing you from upgrading? I'd be happy to work on that for you if there is something that isn't backwards compatible. If you want to e

[2015-04-24 01:14] jfelchner commented on #130
@joshuap I just updated my comment with a description of what I'm frustrated with.

[2015-04-24 01:15] jfelchner commented on #130
@joshuap thank you very much for jumping on the unwrap thing so quickly! :grinning:

[2015-04-24 01:18] jfelchner commented on #130
@joshuap here's an example from one of our public repos on how we use `chamber`.  In our private repos we have dozens of encrypted settings and 20+ separate settings files for different things.

This is the encrypted version of our actual rubygems API key.

https://github.com/thekompanee/apill/blob/master/settings/rubygems.yml

[2015-04-24 01:21] jfelchner commented on #130
Chamber first looks to see if there's an environment variable with the name (in this case `RUBYGEMS_API_KEY`.  If not, it uses the one in the settings file.

But it's chamber's job to determine how, when and where we want to store our configuration values.  Not the responsibility of each individual gem.

[2015-04-24 18:05] joshuap commented on #130
@jfelchner thanks for all of the context! So, I'm wondering if maybe there's a way to make the current configuration play nice with chamber. Here's my thinking:

One of the motivations for the current configuration approach is that very reason; in 1.x we supported setting the API key via ENV, but that was all. If you wanted to configure anything else in Honeybadger, you had to use Ruby. In 2.x [ev

[2015-04-24 22:59] joshuap commented on #107
@arthurnn does 0f5e9471e94e9c801a104b4684ad46e0a65836aa look ok?

[2015-04-25 16:43] arthurnn commented on #107
@joshuap Looks good, I wonder if we could reference the list from Rails, so if Rails change that list, honeybadger would not need to update it too.

[2015-04-27 07:33] jasonhutchens opened #132 "NoMethodError: undefined method `split' for nil:NilClass (from gems/honeybadger-2.0.11/lib/honeybadger/notice.rb:365:in `extract_source_from_backtrace')"
I'm getting this in a Rails 4.1.10 which has an error in a view template.

[2015-04-27 16:05] joshuap commented on #132
Thanks for reporting; should have a fix released today.

[2015-04-27 16:59] joshuap commented on #132
2.0.12 has been released.

[2015-04-27 16:59] #132 closed

[2015-04-27 17:38] joshuap commented on #107
Thanks for reviewing! I had thought of that too; in the future I may augment our default list with `ActionDispatch:: ExceptionWrapper.rescue_responses.keys` (unless you can think of a better place to get that data), but I'm going to get the new list released in the meantime.

[2015-04-27 17:38] #107 closed

[2015-04-27 17:52] arthurnn commented on #107
:+1: thanks

[2015-04-28 12:02] Piioo opened #136 "Capistrano honeybadger:deploy task error"
Hello,

The honeybadger:deploy capistrano task dont set the rbenv ruby version, how do i do this?
Without the right ruby and gemset version honeybadger is not found.

$ cap sandbox honeybadger:deploy
INFONotifying Honeybadger of deploy.
INFO[526cc987] Running RAILS_ENV=sandbox bundle exec honeybadger deploy --environment sandbox --revision ab05307 --repository git@github.com:foo/bar.git --user pis

[2015-04-28 16:24] joshuap commented on #136
@Piioo Yeah, it looks like it's not finding the "honeybadger" comman. We *should* support capistrano-rbenv; are you doing anything special in your capistrano config file such as overriding the `rbenv_map_bins` or `bundle_bins` setting(s)?

[2015-04-28 16:33] Piioo commented on #136
Yes, I have this in the project. But I have to read what it is :)

set :rbenv_map_bins, %w{rake gem bundle ruby rails}

[2015-04-28 16:35] joshuap commented on #136
Ah, that's the problem! Just add `honeybadger` to the list: `set :rbenv_map_bins, %w{rake gem bundle ruby rails honeybadger}`. :)

`rbenv_map_bins` tells the rbenv capistrano plugin which commands should be executed within your rbenv context. Since honeybadger isn't in that list, it's trying to execute it outside of rbenv, but our executable is installed via our gem.

[2015-04-28 16:35] #136 closed

[2015-04-28 16:36] Piioo commented on #136
thx :+1:

[2015-05-06 20:15] jfelchner commented on #130
@joshuap I get what you all are saying here and if you want to have checks in your code to see if an ENV variable is set and use that if it is, that's totally cool.  That's not the problem.

The problem is that it's no longer configurable in Ruby at runtime.

Again, working with configurations is hard.  There are a ton of edge cases.  A configuration management solution smooths those out and makes

[2015-05-19 11:53] aamirtharaj-rpx opened #138 "Installing honeybadger throws exception"
[code]

Thanks in advance. Please help us out.

[2015-05-19 16:22] joshuap commented on #138
Hey there, could you email a copy of your Gemfile.lock file to support@honeybadger.io? Let's see if we can help you out via support and I'll update this issue if it turns out to be a bug in the gem. Thanks!

[2015-05-19 16:22] #138 closed

[2015-05-19 16:33] #109 closed

[2015-05-20 04:38] aamirtharaj-rpx commented on #138
Thanks @joshuap I have sent the email to support@honeybadger.io

[2015-05-20 22:21] joshuap commented on #130
@jfelchner thanks for the extra input; lots to think about. I'm not ready to add a feature for Ruby runtime configuration, but will continue to ponder it. In any case, unwrap_exceptions support is on master and will ship later this week in 2.1.0!

[2015-05-20 22:21] #130 closed

[2015-05-20 22:22] joshuap commented on #125
The fix for this is currently on master and will be released in 2.1.0.

[2015-05-20 22:22] #125 closed

[2015-05-22 22:57] joshuap commented on #108
An easy way to do this would be to sleep for 5 minutes after a 40x response rather than shutting down the worker entirely:

[code]

[2015-05-26 17:48] joshuap commented on #108
Took a slightly different approach; we kill the worker, but allow it to restart after a defined interval: https://github.com/honeybadger-io/honeybadger-ruby/commit/4bace181253f57403fbb14c9dba2bc040a233eda

[2015-05-26 17:48] #108 closed

[2015-05-27 21:24] joshuap commented on #31
We ultimately decided not to support this natively, but you can use our context feature to send the request body if you want. Here's a writeup on it: http://docs.honeybadger.io/article/202-sending-the-post-request-body-to-honeybadger-for-inspection

[2015-05-27 21:24] #31 closed

[2015-06-08 11:11] irahulsingh opened #141 "disable honeybadger integration in development environment"
how do I disable honeybadger integration on my local development. I am using honeybadger add-on on heroku only.

When I do run any rails command, for example $ rails server, $ rails c etc

it outputs

** [Honeybadger] Unable to start Honeybadger -- api_key is missing or invalid. level=2 pid=20869

[2015-06-22 15:04] nickpearson opened #144 "Honeybadger block form"
Would you consider a PR adding a quick way of using Honeybadger by passing a block to it? For example, in its simplest form:

[code]

This would allow the following code:

[code]

into:

[code]

If you don't want to make `Honeybadger()` a global method, this behaviour could be added as a `try` class method on `Honeybadger`:

[code]

This would be great for small failures that should be logged but

[2015-06-22 21:52] joshuap commented on #144
Hey Nick, thanks for the suggestion. I've thought about something like this before, and my currently feeling is that I don't think I want to encourage swallowing exceptions by adding this to the API of the official gem. Since it's such a simple feature, have you considered just making it part of your application's API?

I might consider this if it re-raised the exception, but I think that would de

[2015-06-23 15:10] nickpearson commented on #144
Hi Joshua, yes, you understand perfectly. I agree that swallowing exceptions is definitely bad when it's not expected, so on second thought, you're right.

I still like the idea of the succinctness of this though, so perhaps I'll add such a method to my app with a name that clearly expresses its behavior. Perhaps something like:

[code]

Beyond my particular use case (reporting on but swallowing a

[2015-06-23 15:10] #144 closed

[2015-06-23 15:15] joshuap commented on #144
Sounds good, thanks!

[2015-06-25 03:28] joshuap commented on #141
Sorry for not replying to this sooner... I missed the notification. Honeybadger doesn't send data by default in your development environment, so if you want it to still start (simulating how it works in production) you could add an API key either by setting the `HONEYBADGER_API_KEY` environment variable or adding *config/honeybadger.yml* to your project with the following content (the value of api

[2015-06-25 03:29] #141 closed

[2015-07-06 07:15] henrik opened #147 "Raises on wrapped JSON::ParserError?"
I seem to be seeing the same thing that is reported as an Airbrake bug here: https://github.com/rails/rails/issues/17731

Haven't dug into it very far, but could it be that you also catch wrapped exceptions even if their wrapping exception is ignored?

[2015-07-06 09:03] henrik commented on #147
Doh, we were on 1.16.7 of the honeybadger gem and 2.1.0 is the latest. Maybe this has been fixed.

[2015-07-06 13:36] henrik commented on #147
We upgraded and the issue went away. Nevermind; sorry! :)

[2015-07-06 13:36] #147 closed

[2015-07-06 16:16] joshuap commented on #147
@henrik ah, yeah. Prior to 2.0 we unwrapped exceptions similar to the airbrake gem. We now report/ignore the raised exception by default, but still have an "exceptions.unwrap" config option available for those who want the old behaviour.

[2015-07-06 16:38] henrik commented on #147
@joshuap Thanks for clarifying! 👍

[2015-07-31 15:11] toadle opened #149 "Capistrano 3: Deploy-Notification does not work"
Hey guys,

I tried integrate the Honeybadger-deploy notification into our deploy-script today. Strangely I couldn't get it to work.

It fails like this:

[code]

I'm pretty certain that this happens because of rvm.
Normally all bundle-driven commands look like this:
`~/.rvm/bin/rvm ruby-2.2.0 do bundle exec rake assets:precompile`

But even adding `before 'honeybadger:deploy' 'rvm:hook'` doesn't h

[2015-07-31 15:50] joshuap commented on #149
@toadle are you overriding the `:rvm_map_bins` option in your Capistrano config? If so, make sure `honeybadger` is in that list.

[2015-08-03 09:06] toadle commented on #149
@joshuap Indeed I do. We have our own `rvm-capistrano` version which actually is a nearly 1:1 copy of the normal one, but without the `rvm:hook` before every task.

Now I made sure that the `rvm:hook` does run before `honeybadger:deploy` like so:

[code]

But it still gives me:

[code]

Could it be because of the `RAILS_ENV=prestage`?

[2015-08-04 18:39] joshuap commented on #149
I doubt the `RAILS_ENV` environment variable is the issue; exit code 127 indicates that it's getting to the point of running the command, but the `honeybadger` executable is not found. With rvm-capistrano this has always been because the `rvm_map_bins` had been overridden at some point and `honeybadger` was dropped from the list. Since it appears that `honeybadger` *is* in the list after the last

[2015-08-06 06:28] exAspArk opened #150 "Notify from Rails runner"
Hi,

Is there any way to send an error to Honeybadger while running Rails runner?

For example, when I call:
[code]
I'd like to receive `undefined local variable or method "foo" for main:Object` error.

For now I should do something like:
[code]
Or from another ruby process:
[code]

Thanks

[2015-08-12 17:09] joshuap commented on #150
There isn't a way to automatically report errors from Rails runner currently; you would need to do something like the examples you provided. Another approach would be to add an `at_exit` block in an initializer:

[code]

[2015-08-12 17:09] #150 closed

[2015-08-12 17:10] joshuap commented on #149
I'm going to close this one. If you're still having trouble with it, feel free to email me at support@honeybadger.io and I'll try to help some more. Thanks!

[2015-08-12 17:10] #149 closed

[2015-09-17 15:02] soma opened #152 "Adding user agent to notice class?"
I might have a feature request that could be useful, or  it might be that there is already a way for me to accomplish this.

I want to be able to filter exceptions both based on exception class and user agent. Specifically I would like to be able to ignore ``ActionView::MissingTemplate`` when it is a certain bot that triggers it.

I am trying to accomplish this by using this: http://docs.honeybadg

[2015-09-17 16:45] joshuap commented on #152
@soma hey, you should be able to access the user-agent in `notice.cgi_data['HTTP_USER_AGENT']` inside the `exception_filter` callback. Let me know if that doesn't work for you. Thanks!

[2015-09-17 16:45] #152 closed

[2015-09-22 16:19] fabiokr opened #153 "Config ERB array"
Honeybadger supports erb in the config file:

[code]

I'm trying to use that to configure an array var (`request.filter_keys`), but I can't find how, as it is always read as a string. Is that currently supported?

[2015-09-22 16:30] joshuap commented on #153
With yaml you can do use `[]` for arrays, so something like this should work, I think:

[code]

[2015-09-22 16:30] #153 closed

[2015-09-30 08:57] costa opened #155 "honeybadger delayed_job plugin — not working outta box"
Thank you Honeybadger for your continuing support.
Now it doesn't seem I have error notifications of the errors occurring in my delayed jobs.
Should I require anything specific? Do I miss anything?
Appreciate your help — and possibly a doc fix.

[2015-10-06 18:09] joshuap commented on #155
@costa can you verify that your Honeybadger API key is configured when running your workers? If you're still having this issue, could you email support@honeybadger.io with the info request [here](http://docs.honeybadger.io/article/92-how-to-contact-support-about-gem-related-problems)?

[2015-10-06 18:09] #155 closed

[2015-10-08 11:58] costa commented on #155
@joshuap Are you implying this gem should cover delayed jobs with no additional configuration? The app is on Heroku, so everything is set up both for web servers and for workers.

[2015-10-08 15:26] joshuap commented on #155
@costa yes, as long as you are on the current version of the gem (2.x) then there is no additional configuration for delayed job. So if it's not reporting errors it might be an error with the environment. We do ignore some exceptions by default, by the way. Are any of the exceptions which aren't being reported on [this list](http://docs.honeybadger.io/article/42-ignoring-exceptions-by-class) by an

[2015-10-09 15:05] costa commented on #155
@joshuap Yep, makes sense, works for me now.

[2015-10-30 18:17] justinko opened #158 "Add ActiveJob::DeserializationError to ignore list"
Equivalent to ActiveRecord::RecordNotFound

[2015-10-30 20:54] joshuap commented on #158
I was just looking at the [documentation](http://edgeapi.rubyonrails.org/classes/ActiveJob/DeserializationError.html) for `ActiveJob::DeserializationError`. It seems that while something like `perform(user)` where `user` is a non-existent record (due to a race condition or the record being deleted) will cause `ActiveJob::DeserializationError` to be raised (because it would be wrapping `ActiveRecor

[2015-10-30 22:22] justinko commented on #158
Good point.

I'll be adding `ActiveJob::DeserializationError` to my project's list of ignored exceptions, but I agree, shouldn't exist in the default list.

Thanks!

[2015-10-30 22:22] #158 closed

[2015-11-03 10:35] marcusg opened #160 "Does not work with Rails 5"
Running ```bundle exec honeybadger install <my_key>``` does not work in a Rails 5 (API only) application. Do you guys know how to fix this?

Stacktrace:

[code]

[2015-11-03 15:12] joshuap commented on #160
Thanks for the heads up; I'm working on updating the gem for Rails 5.

[2015-11-03 15:28] marcusg commented on #160
@joshuap Thank you, let me know if I can help you...

[2015-11-03 15:45] joshuap commented on #160
@marcusg b6de61a4ee234f68846a4c18e1d0f01d1ba3410c fixes the error you had. The integration tests are mostly passing now with just a few errors which I haven't tracked down yet; they may be bugs with Rails, though, so you could give it a try if you want.

[2015-11-03 16:11] marcusg commented on #160
@joshuap wow! Thank you very much, it is working now. I'll create new issues if I find some more bugs...

[2015-11-03 16:11] #160 closed

[2015-11-03 16:25] marcusg opened #161 "Deprecation warning with Rails 5"
Getting this warning for each of my specs:

[code]

Thanks!

[2015-11-03 21:19] #161 closed

[2015-11-03 21:20] joshuap commented on #161
@marcusg the latest commits to master should fix this -- let me know if you find otherwise. Thanks!

[2015-11-04 08:25] marcusg commented on #161
@joshuap Yes, warnings are gone! Thanks for the fast fix!

[2015-11-06 15:33] vipulnsward opened #163 "deploy fails with capistrano 3"
https://github.com/honeybadger-io/honeybadger-ruby/blob/d5efc9d3d26760c06d67928e73dad58ed26cbd2a/vendor/capistrano-honeybadger/lib/capistrano/tasks/deploy.cap#L15 fails,
with error
[code]
because , its inside an 'on' block.

I was able to fix this, by removing it out of the on block
Example - https://gist.github.com/vipulnsward/d2149ee882b13fda181d

Ref: https://github.com/tablexi/capistrano3-unic

[2015-11-06 16:57] #163 closed

[2015-11-06 16:57] joshuap commented on #163
Thanks!

[2015-11-12 12:51] jeroenj opened #164 "Uninitialized constant Set on JRuby 1.7"
When setting up Honeybadger (v2.2.0) on JRuby 1.7(.22) I get an `uninitialized constant Honeybadger::Util::Sanitizer::Set` error. Simply requiring `set` fixes the issue.

I'm using it in a plain ruby project (so no Rails, etc.).

[2015-11-12 15:30] #164 closed

[2015-11-12 15:30] joshuap commented on #164
Thanks!

[2015-11-12 15:31] jeroenj commented on #164
That was fast. Thanks! :)

[2015-11-12 17:28] joshuap commented on #164
Np. :) I also just released this in 2.3.0.

[2015-11-20 04:59] aselder opened #165 "HB::TraceCleaner::ActiveRecord blows up if SQL query contains invalid UTF-8 bytes"
[code]
where Video is an ActiveRecord model and handle is a column on video
returns `nil` if HoneyBadger NOT installed
raises ArgumentError if HoneyBadger installed

[code]

This is actually an exception in the course of rescuing another exception. Using the debugger, the original exception is:

`ActiveRecord::StatementInvalid: "ArgumentError: invalid byte sequence in UTF-8: SELECT  videos.* FROM

[2015-11-20 05:00] aselder commented on #165
Looking at the code both the `render?` and `to_s` methods will blow up if the sql contains invalid UTF-8 characters

[2015-11-20 17:06] joshuap commented on #165
@aselder can you try locking your gem to `github: 'honeybadger-io/honeybadger-ruby'` and re-run your tests to confirm that 1d5f137d0135322cac0224bc5e0be78015850001 fixes this for you?

[2015-11-20 17:11] aselder commented on #165
@joshuap Will do, give me about an hour

[2015-11-20 17:21] aselder commented on #165
@joshuap It looks good to me

[2015-11-20 17:30] joshuap commented on #165
Great, thanks! Working on a release.

[2015-11-20 17:43] joshuap commented on #165
2.3.1 has been released.

[2015-11-20 17:43] #165 closed

[2015-12-11 22:49] kylev commented on #129
Given that I just found this ticket while working on the exact codebase that @som-poddar once worked on, I thought I'd share the solution. I have this in my `deploy.rb`, lazily defined with a lambda to take advantage of the `:web` role defined in the stage-specific config:

[code]

[2015-12-14 19:11] joshuap commented on #129
Thanks Kyle! :+1:

[2015-12-22 15:24] benhutton opened #169 "error with Passenger in non-server environments"
Hi,

When we run, for example, `heroku run console`, we get the following error:

    ** [Honeybadger] Starting Honeybadger version 2.3.1 level=1 pid=3
    ** [Honeybadger] plugin error name=passenger class=NoMethodError message="undefined method `on_event' for PhusionPassenger:Module"
        /app/vendor/bundle/ruby/2.2.0/gems/honeybadger-2.3.1/lib/honeybadger/plugins/passenger.rb:11:in `block (2

[2015-12-22 19:08] joshuap commented on #169
@benhutton can you try out the [passenger_console_fix](https://github.com/honeybadger-io/honeybadger-ruby/tree/passenger_console_fix) branch and let me know if that works for you? Also, just to be clear, the passenger plugin loads properly when booting the app server, right?

Thanks for reporting!

[2015-12-22 20:25] benhutton commented on #169
@joshuap I just deployed this branch to our staging server...

* `heroku run console` does NOT give us the error anymore
* visiting a known bad URL does log an error in honeybadger

That means everything is working, right, and the passenger plugin is loading?

[2015-12-22 23:20] joshuap commented on #169
Yep, sounds like it's working to me. I'll get this released in the next version.

[2016-01-06 16:33] #169 closed

[2016-01-18 22:28] flushentitypacket opened #171 "Memory eaten up when reporting tons of errors"
I have a high-throughput application that I'm testing. I have the worker configured such that errors are reported to Honeybadger. I artificially added an error, a `raise` in the worker loop, to see what would happen. To my surprise, the box fell over--out of memory!

After looking through the honeybadger-ruby source briefly, my hunch is that error notifications are being queued up to be sent to Ho

[2016-01-18 23:02] joshuap commented on #171
@flushentitypacket interesting. We do enforce a 1000 error limit on our queue, meaning that the 1001th error notification would be dropped (and therefore not stored in memory while the queue is worked on). How much memory did you have on your test box, and was this in a Rails app? If you could give me an example which reproduces the memory consumption issue I'd be happy to investigate it.

[2016-01-19 16:10] flushentitypacket commented on #171
Ah! I didn't see that error limit.

In my particular use case, I'm running a bunch of forked processes, so they are each at a 1000 error limit, which causes things to blow up a bit bigger. I think the 1000 error limit is totally fine--I'll close this issue. Thanks!

[2016-01-19 16:10] #171 closed

[2016-01-19 17:09] joshuap commented on #171
Ah, that makes sense. Thanks for the update on the situation! :)

[2016-01-25 16:17] flushentitypacket commented on #171
@joshuap What do you think about allowing the max queue size to be configurable?

[2016-01-25 20:57] joshuap commented on #171
I'm open to that. I'd be happy to take a look at a PR if you want to submit one, otherwise I can add it to my todo list.

[2016-01-28 10:29] dalibor opened #173 "Not able to disable Sidekiq traces"
In our config we have:

[code]

But, we're still getting Sidekiq traces for slow requests and we cannot disable it.

`Honeybadger::Plugins::Sidekiq::Middleware` should only be enabled if `config.feature?(:traces) && config[:'traces.enabled']` is `true` in `lib/honeybadger/plugins/sidekiq.rb`. Similar for other plugins I believe.

[2016-01-29 03:56] dburt commented on #150
Thanks for the suggestion, @joshuap. Can I suggest the following slight improvement for later readers?

[code]

[2016-02-03 19:29] joshuap commented on #173
@dalibor I can't disable `Sidekiq::Middleware` entirely because it also clears the context for errors. You're right that traces shouldn't be sent, though. I think this should take care of that: https://github.com/honeybadger-io/honeybadger-ruby/commit/3cc9312790c0a61d61789747e888876b71f50069

[2016-02-04 11:20] dalibor commented on #173
@joshuap Looks good from here. :+1:

Can you please release that in a new gem version? Also, please check your release version size, with 2.4.0 size got very big due to new `vendor` dir that's i guess mistakenly added to the release.

[code]

https://rubygems.org/gems/honeybadger/versions

[2016-02-04 13:28] stympy commented on #173
Version 2.4.1 of the gem has been released -- *and* it's the proper size. :wink:  Thanks for the heads-up on that!

[2016-02-04 13:28] #173 closed

[2016-02-05 07:49] dalibor commented on #173
Thanks @stympy!

[2016-02-29 12:50] jonleighton opened #177 "plugins.skip config option only accepts symbols"
I was surprised that I needed to use symbols in the plugins.skip option:

[code]

I'd expect it to work with strings, or at least strings *or* symbols rather than only symbols.

[2016-02-29 23:30] jasonkim opened #178 "Parameter filter logic for Honeybadger is different from Rails"
For string filters, Honeybadger will use string comparison, whereas Rails will convert it into regexp and compare using regex.

In Honeybadger, see line
https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/util/sanitizer.rb#L128

In Rails, see lines 24-44 in https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/parameter_filter.rb#L24

More specif

[2016-03-01 17:27] joshuap commented on #178
One solution to this could be to separate the Rails filters from ours; if Rails filters are available then we would use an instance of `ActionDispatch::Http:: ParameterFilter` to apply them in addition to performing our own sanitization.

[2016-03-01 18:30] jasonkim commented on #178
Yeah, I guess I don't really understand the implications of converting everything into regex. Whether that'll cause something unexpected, at least for me, is unknown. If that was possible, it's pretty simple to change it in the initializer.
The solution you proposed is a good compromise. Although the default behaviors for hb and rails are different, it also isn't a breaking change to the existing

[2016-03-01 18:38] joshuap commented on #178
Sounds good; agreed on your suggestion to eventually do regexp conversion (I'll think about that some more). I'll plan to move to `ActionDispatch::Http:: ParameterFilter` for Rails in the next minor release.

[2016-03-07 22:32] joshuap commented on #177
Good point @jonleighton; I'll work on a fix for this. :)

[2016-03-08 20:53] #177 closed

[2016-03-15 18:22] mockdeep opened #181 "#notify to throw or warn on unexpected parameters?"
We have a couple of places where we were mis-using the `honeybadger-ruby` api and only discovered it when there was a notification in production, at which point we didn't have the information we needed to debug:

[code]

which should, in fact, be:

[code]

It would be nice if there was a way for the gem to let us know about this sooner. It might not be great for it to throw an error in production,

[2016-03-24 20:38] joshuap commented on #181
I'll think about this one. I'm not sure if I want to make the api handle even *more* usage cases, but it might be nice to log (or raise) if an unsupported argument is passed.

[2016-03-28 17:46] hardboiled opened #182 "How to pass user-agent to Honeybadger#notify"
I'm catching exceptions in my controller and then notifying honeybadger after the fact. Everything seems to be passing correctly, except the user-agent isn't showing up in the UI. I was looking through the code to determine how to pass the user-agent string, and I believe I have to pass the request.env hash to the notify call somehow, but I ran into a dead-end. Could you please advise on how to pa

[2016-03-28 17:53] starrhorne commented on #182
Hi Daniel, if you're using rails you should be able to just do `Honeybadger.notify(e)`. The gem will pull in the params, cookies, etc. It should also pull in the user-agent.

[2016-03-28 17:59] hardboiled commented on #182
Is this true even though the exception I'm catching isn't thrown from the controller context?

[2016-03-28 18:15] joshuap commented on #182
@hardboiled it should be true as long as you're inside a rack request. It's not true for other types of execution, such as rake tasks or background jobs (since User-Agent doesn't apply to those cases). If you want to send the user agent and display it in the UI in other cases, then I believe this should work:

[code]

[2016-03-28 18:34] hardboiled commented on #182
@joshuap Cool, will try it out. Thanks!

[2016-04-08 15:34] kamen-hursev opened #184 "Is there a way to filter Sensitive headers?"
I know Honeybadger allows filtering params like `password`, but is there a way to filter sensitive header information?

For example in the Environment section I have:
[code]
The `Authorization` header is probably something that needs to be filtered by default, but there might be other headers that users want to filter out.

[2016-04-08 16:13] starrhorne commented on #184
I believe you can use the [filter_keys](http://docs.honeybadger.io/lib/ruby.html#sensitive-data) option for this. It removes the keys you specify from all data hashes, not just params.

It does make a lot of sense to filter authorization headers. @joshuap, what do you think?

[2016-04-08 17:13] joshuap commented on #184
Yep, filter_keys should work, and I agree that the auth header is a good default. I'll add it.

[2016-04-11 08:39] kamen-hursev commented on #184
I'm sorry for not checking that more carefully.
[code]
works just fine. Thanks!

btw there is a typo [here](http://docs.honeybadger.io/lib/ruby.html#configuration) in the "Nested Options" example. It says `filter-keys` instead of `filter_keys`

[2016-04-11 12:31] joshuap commented on #184
@kamen-hursev ah, thanks! I think we fixed that typo but need to publish the change still. :)

[2016-04-11 15:31] #184 closed

[2016-04-18 12:43] paneq opened #186 "Possible severe impact on resque performance"
I described the [investigation process deeply in my blogpost](http://blog.arkency.com/2016/04/how-i-hunted-the-most-odd-ruby-bug/)

TLDR:

Sometimes this 60s sleep in ensure block is reached after resque child finished processing a job. Ruby might wait for this thread to finish and in that time for one minute resque is waiting for the child process with Honeybadger thread to die. Until this happen

[2016-04-18 13:32] joshuap commented on #186
Thanks for reporting! This is a weird one; interested to hear what the Ruby team has to say. In any case, we'll take a closer look at this also.

[2016-04-19 14:36] hardboiled commented on #182
@joshuap I just tried what you suggested, and it adds a new section called [context](http://docs.honeybadger.io/lib/ruby.html#add-context-data) that has a hash of whatever I passed in as "cgi_data" instead of showing the browser type with a browser icon at the top of the page. Is there any way to get the browser type to show at the top of the page?

[2016-04-19 15:23] joshuap commented on #182
@hardboiled can you post an example of your Honeybadger.notify call?

[2016-04-20 14:15] hardboiled commented on #182
@joshuap we retooled some of our code after some more testing and were able to get it working using your original suggestion. Sorry for the spam, and thanks for the quick responses!

[2016-04-20 14:15] #182 closed

[2016-04-20 22:11] joshuap commented on #186
After studying this some more I'm thinking the solution in our case is to just not sleep during the `ensure` block. I think we can avoid this entirely with something like:

[code]

(assuming the `rescue` isn't invoked when the thread is killed.) I should have a fix this week.

@paneq Really great writeup, btw.

[2016-04-20 23:20] mbell697 commented on #186
In general using `Thread.kill` is not safe, the best solution here is to not rely on it. In particular this bit of code is also extremely suspect: https://github.com/honeybadger-io/honeybadger-ruby/blob/84ba2d3877be09675fef18e5a858a45ceea64b4c/lib/honeybadger/agent/worker.rb#L86.

[2016-04-22 16:44] #186 closed

[2016-06-03 17:57] joshuap opened #191 "Report component/action from worker plugins by default."
Sidekiq/Resque/DelayedJob/etc. should set the component and action to the name of the worker class and the method being performed when reporting exceptions. There is currently a Sidekiq option for this (`sidekiq.use_component`) which is disabled by default. There is no option for the other plugins yet.

Changing the current behavior would reset grouping for errors, so it needs to happen in the nex

[2016-07-06 16:44] sbonami opened #193 "Inspect Local Variables rather than converting to a String"
Any chance we could get Local Variables `.inspect`ed rather than `to_s`'d.

![image](https://cloud.githubusercontent.com/assets/1145657/16626500/2e686750-4377-11e6-8378-6c81246d7f8c.png)

Assumption: Tweak [this guy](https://github.com/honeybadger-io/honeybadger-ruby/blob/84ba2d3877be09675fef18e5a858a45ceea64b4c/lib/honeybadger/util/sanitizer.rb#L57)? I'd be happy to send up the PR!

[2016-07-06 17:35] joshuap commented on #193
I'd be willing to consider a PR for that; my main concern would be that it wouldn't affect other people who are already relying on `to_s`. Also, the local variables feature may not be available in future versions of the gem because newer versions of Ruby don't support the binding_of_caller gem.

[2016-07-06 18:05] sbonami commented on #193
When thinking about Local Variables, an `Object` is the sum of its attributes. IMHO, it seems that the implementation of `inspect`, while it may break some use cases, is the more appropriate representation of an object than just the class name and `object_id`. I suppose we could alternately alias `to_s` to `inspect` on our AR models and get the same result.

As for relying on the _binding_of_calle

[2016-07-07 16:51] joshuap commented on #193
np, thanks for the extra insight! For now, maybe try the aliasing approach; I agree that inspect may make more sense in this case. I will revisit this (unless there is a PR) in the next version or if/when I come up with a long-term way to get the local variables from the exception's binding.

[2016-07-25 17:39] tjchambers opened #194 "Recommend reference or doc true fix for ActionDispatch::TestProcess override"
Honeybadger is nice enough to warn folks about global include of ActionDispatch::TestProcess. however the real fix is not referenced or annotated. I looked it up on StackOverflow and followed this process which worked:

https://stackoverflow.com/questions/18202261/include-actiondispatchtestprocess-prevents-guard-from-reloading-properly

Be nice to reference that in comments.

[2016-07-27 11:07] shaicoleman opened #195 "Warning with Capistrano 3.6.0"
With Capistrano 3.6.0 I'm getting the following warning

[code]

[2016-07-27 20:16] stympy commented on #195
Thanks for the heads-up!

@joshuap will look at this when gets back from vacation. :)

[2016-07-27 20:17] #194 closed

[2016-08-17 10:45] shaicoleman opened #197 "Honeybadger doesn't notify if it runs out of file descriptors"
Honeybadger currently doesn't handle exceptions that are caused by the operating system running out of file descriptors.

We were seeing the following issue in our Rails logs.

Errno::EMFILE (Too many open files - identify):

[code]

Honeybadger was unable to send the report because it wasn't able to create the file descriptor needed to establish the connection (the SSLv3 error is not an SSL issue

[2016-08-17 13:35] stympy commented on #197
Thanks for the heads up! We'll take a look at it.

[2016-08-22 15:53] we138 opened #198 "Honeybadger dont handle exceptions via `raise`."
Hello guys, I try to implement some feature on development and I need to manually calling `raise` on console. And I expect when I call `raise` in console, honeybadger catch this exception and send on server, but it is not happened. But if I try to call `Honeybadger.notify('foobar'`)` I get this notification in honeybadger-server. What am I doing wrong?

[2016-08-22 16:07] stympy commented on #198
We don't automatically catch errors in the console.  You need to rescue and call Honeybadger.notify manually in that case.

[2016-08-22 16:07] #198 closed

[2016-08-22 16:22] we138 commented on #198
@stympy thanks Ben!

[2016-08-23 16:11] joshuap commented on #195
@shaicoleman are you manually calling `git:set_current_revision` anywhere? If not, could you post your Gemfile/Gemfile.lock (or any capistrano-related gems you are using, along with their versions)? I was unable to reproduce the warning with 3.6.0, so I'm wondering if there's a 3rd-party that is also calling that task.

[2016-08-23 16:14] joshuap commented on #195
@shaicoleman never-mind -- I was able to reproduce it. I'll dig in and get it fixed. Thanks!

[2016-08-24 18:23] joshuap commented on #197
I think it would be cool to be able to report an issue like this, but I'm afraid that too many things break down when you run out of file descriptors; I think that's something that should be monitored for separately from application exceptions (maybe via the system log or something).

[2016-08-24 18:23] #197 closed

[2016-08-24 18:24] joshuap commented on #195
Fixed in 8ad8bb519fd2be063fce94c670e5067636188a4b

[2016-08-24 18:24] #195 closed

[2016-08-26 11:02] shaicoleman commented on #197
NewRelic for example does manage to capture these exceptions, so it's definitely possible

[2016-09-05 10:07] nappa32 opened #202 "feature request : submission of errors via commandline tool"
This sort of is possible with the logic that sends in a test error on demand. If the honeybadger cli can be made to submit errors like below it would vastly increase the usability of the gem.

[code]

[2016-10-07 15:54] iterion opened #206 "Deadlock Error"
We recently upgraded to `2.6.1` to make use of the Resque plugin which has been working great. However, in one of our environments we recently saw this error:

[code]

I'm trying to dig more to see if there is anything else I can find, but right now this is all we have to go on.

[2016-10-07 18:06] joshuap commented on #206
Thanks for the report, and sorry for the trouble. Could you post your Ruby version and a list of your gems and their versions? Also, have you had this error just once so far? I'm not immediately sure why it's deadlocking (it obviously shouldn't), but Resque does do some wacky things. :)

[2016-11-03 06:36] khacluan opened #208 "Honeybadger.notify(message) not working in grape api"
I tried to run Honeybadger.notify(message) it works fine.

I use grape to write api in rails application
and I trying to notify error to honeybadger , but it doesn't work .

[code]

I included defaults.rb in each specific api.

Can you help me ?

[2016-11-03 15:43] joshuap commented on #208
I'm not 100% sure yet, but could you try removing the `rescue_from` in your `Defaults` module? It's possible that is causing the error to be rescued before reaching your middleware.

[2016-11-03 17:19] khacluan commented on #208
@joshuap I placed debug and it still go there.

[code]

and it generate after I called notify method, but it is not send to honeybadger
[code]

[2016-11-03 23:42] joshuap commented on #208
You can't do `Honeybadger.notify(e.message)`, it would need to be either `Honeybadger.notify(e)` or `Honeybadger.notify(error_message: e.message)`. Do either of those work?

[2016-11-06 18:32] kureikain opened #209 "Honeybadger notify encode regex wrong"
Hi, I have this in:

[code]

And in Honeybadge I got this:

[code]

![screen shot 2016-11-06 at 10 30 27 am](https://cloud.githubusercontent.com/assets/49754/20040429/1d02bee8-a40c-11e6-85a0-ad36b4a2dfbe.png)

My env:

[code]

[2016-11-07 18:38] joshuap commented on #209
@kureikain we use #to_s to encode context values:

[code]

If you want to display something different in Honeybadger then you can do something like:

[code]

[2016-11-07 18:38] #209 closed

[2016-11-14 22:56] aselder opened #210 "Potential Breaking Changing in v2.7.0 (making ping calls in test)"
When I tried upgrading to v2.7.0, my spec suite started failing. We use WebMock with net connections disabled.

When using v2.7.0, we started seeing lots of WebMock::NetConnectNotAllowedError's POSTing to https://api.honeybadger.io/v1/ping. Reverting back to v2.6.1 and the test suite ran fine.

Our app is a Sinatra 1.4.7 app. Please let me know if there's anything I can do to help diagnose this.

[2016-11-15 19:32] joshuap commented on #210
Hey Andrew, thanks. Looking into this today!

[2016-11-15 20:36] joshuap commented on #210
@aselder can you try running your tests with your Gemfile locked to `gem 'honeybadger', github: 'honeybadger-io/honeybadger', branch: 'sinatra_env_fix'` and let me know if that fixes the errors? I think this bug was introduced in d8f22c2472c30a9a7dcfd06d6758b659f3a1a257 and should be fixed with #211.

[2016-11-16 19:11] benhutton opened #212 "exception fingerprint calculation happening to early"
We are trying to use a custom fingerprint to group together `Rack::Timeout`'s errors, each of which have a different backtrace.

Here is the code we are using:

[code]

Unfortunately, this code errors out as follows:

[code]

And _that_ appears to be because `@request` is calculated _after_ `@fingerprint`: https://github.com/honeybadger-io/honeybadger-ruby/blob/v2.7.0/lib/honeybadger/notice.rb#L14

[2016-11-16 20:45] #208 closed

[2016-11-16 20:46] joshuap commented on #212
Oops, you're right! I'll release a fix for this today.

[2016-11-16 21:02] #210 closed

[2016-11-17 00:14] #212 closed

[2016-11-17 00:24] joshuap commented on #210
@aselder 2.7.1 has been released and should fix this. Let me know if not!

[2016-11-17 00:25] joshuap commented on #212
@benhutton 2.7.1 has been released with a fix. Thanks for the report. In the future I hope to add an official integration/solution for better grouping in rack-timeout.

[2016-11-17 05:36] aselder commented on #210
@joshuap Beautiful green builds... As always you guys are the best.

[2016-11-17 19:01] joshuap commented on #193
Another thought on this is that if we call `.inspect` on a model, for example, it's going to dump all of its internal state (instance variables) which may include sensitive information. In light of that I think the safest thing to do is to keep the default `.to_s` for local variables. It's also impossible to know what type of data will be assigned, so the best we can do is apply `request.filter_ke

[2016-11-17 19:01] #193 closed

[2016-11-17 19:10] joshuap commented on #202
I have basic functionality for this completed on a branch. Need to add some additional options like `--component` and `--action`.

[2016-12-02 22:08] joshuap commented on #181
@mockdeep check out https://github.com/honeybadger-io/honeybadger-ruby/commit/89239ea7d6f63a74c69705e649915bd7f1a3a965 when you get the chance. This will be released in v3 of the gem.

[2016-12-02 23:15] mockdeep commented on #181
Looks great. Thanks!

[2017-02-06 14:46] #178 closed

[2017-02-06 14:46] #181 closed

[2017-02-06 14:46] #191 closed

[2017-02-08 17:18] joshuap commented on #206
I've released a significant update to the gem in v3.0.0 so I'm going to close this. If you still see a deadlock error on the latest version, feel free to reopen or create a new issue!

[2017-02-08 17:18] #206 closed

[2017-02-08 17:18] joshuap commented on #202
This was released in v3.0.0. See `honeybadger help notify` for info.

[2017-02-08 17:18] #202 closed

[2017-02-09 22:42] derekprior opened #215 "HoneyBadger raises NoMethodError when `request.env` has symbol keys"
See: https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/util/request_hash.rb#L65

If `request.env` contains symbol keys, you will get:

[code]

Seems like this should be `to_s.start_with?` at minimum as you may use any object as a hash key in Ruby but most objects should respond meaningfully enough to `to_s` for this purpose.

[2017-02-10 19:13] joshuap commented on #215
@derekprior thanks for the issue report -- I'll have a bugfix release out today!

[2017-02-10 21:33] joshuap commented on #215
The fix for this has been released in 3.0.1

[2017-02-10 21:33] #215 closed

[2017-02-14 00:03] henare opened #217 "`honeybadger deploy` doesn't work with programmatically set API key"
When using a [programmatically set API key](https://github.com/honeybadger-io/honeybadger-ruby/tree/88eac997b6ad1d85180dfe342bfdb3263140f4c8#erb-and-regex), `honeybadger deploy` complains about `No value provided for required options '--api-key'`.

My guess is that this is because the application hasn't booted so the `MyApplication.config.api_key` in the README example would render to a blank stri

[2017-02-14 00:21] joshuap commented on #217
Hi @henare, you're right. The `honeybadger deploy` command isn't currently compatible with loading the application environment. That was a conscious choice at the time because of the potential difficulties of determining what context the cli command is being run in.

I may be able to do something about this; I'll think about it a bit more. I may also add an AP for creating deploys from Ruby (i.e.

[2017-02-14 00:28] henare commented on #217
Thanks @joshuap :star: I'm using 3.0.1 and deploying using Capistrano.

[2017-02-15 11:56] jalberto opened #218 "Issue using Fixnum to check status"
getting this error in HB 3

    honeybadger-3.0.1/lib/honeybadger/logging.rb:23:in `<': comparison of Fixnum with :debug failed (Argu$entError)

probably related to this:

https://github.com/rocketjob/semantic_logger/issues/28
https://github.com/rocketjob/semantic_logger/issues/53

[2017-02-15 16:09] joshuap commented on #218
Thanks, I'll take a look at adding a fix for semantic_logger today.

[2017-02-15 22:38] jalberto commented on #218
@joshuap great! in the semantic_logger issue is a suggestion in how to implement it

[2017-02-16 16:37] joshuap commented on #218
@jalberto b2ba41ad9fe8e10593d996dc53cd4d127b67eccd should do it. I'll do a bugfix release once CI passes.

[2017-02-16 22:48] jalberto commented on #218
thanks @joshuap

[2017-02-16 23:29] joshuap commented on #218
This was released in 3.0.2.

[2017-02-16 23:29] #218 closed

[2017-03-01 16:57] joshuap commented on #217
@henare 3.1.0 has been released. Let me know if there are any other issues I can help with!

[2017-03-01 16:57] #217 closed

[2017-03-09 00:45] henare commented on #217
Confirmed fixed and working :rocket: Thanks @joshuap! :taco:

[2017-03-13 17:52] starrhorne opened #222 "honeybadger exec --no-quiet has no effect?"
I may be misunderstanding the documentation, but it seems that the `--no-quiet` flag on `honeybadger exec` should prevent STDOUT and STDERR from being swallowed.

However, running:

[code]

Results in nothing being printed to STDOUT. I'm using the most recent edge version of the gem: Commit 35bdf07579163b24ded6b76e0bb675d45239a26d

[2017-03-20 16:29] joshuap commented on #222
@starrhorne `--no-quiet` is the default behavior and the opposite of `--quiet`, which may not do what you think it does. `honeybadger exec` does not print to stdout by default. Instead it executes the command, capturing all output streams. If the command exits with a non-zero code *or* it has stderr output, then `honeybadger exec` dumps all the output (with an error message) to stdout. If the comm

[2017-03-20 17:06] starrhorne commented on #222
Thanks for the explanation!

I guess I was expecting there to be a flag that would allow STDOUT and STDERR to pass through the `honeybadger exec` command in case you needed to capture them for some other purpose, or in case you like the default cron email behavior. That’s just my assumption though. Perhaps it’s a non-issue in real-world usage.

[2017-04-26 22:47] jcoyne opened #225 "Don't report on errors captured by Rails.application.config.action_dispatch.rescue_responses"
We are handling these errors, so they shouldn't be reported on.

[2017-04-26 23:16] #225 closed

[2017-05-09 14:43] genericsteele opened #226 "Testing Honeybadger install fails when a /verify route already exists."
## Issue Overview

We have a route defined with the following:
[code]

But, when running `bundle exec honeybadger test`, the following exception is thrown:

[code]

## Likely Cause

The test route set up in [Honeybadger::CLI::Test#run_rails_test](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/cli/test.rb#L144) defines a new route on top of the existing routes:

[cod

[2017-05-11 01:05] fwuensche opened #227 "Conflict with heroku-deflater gem"
Hi! My feedback form was not being rendered from ``. I found out that, by removing the gem heroku-deflater, it just started working again. I believe the problem is with the ordering of middlewares, but I don't really understand how it works.

If you find this issue is not relevant to honeybadger, feel free to close it 👍
Otherwise, here is the output when I run `rake middleware`:

[code]

And this

[2017-05-11 15:19] joshuap commented on #227
@fwuensche I think the deflater middleware is compressing the Rack response body, preventing our `Honeybadger::Rack::UserFeedback` middleware is unable to read your magic comment. Moving the deflater middleware before our middleware in the stack (at the top of your list) would likely fix this, although I'm not sure if it *needs* to come after the `Rack::Sendfile` middleware specifically. The only

[2017-05-11 15:20] #227 closed

[2017-05-11 15:24] joshuap commented on #226
@genericsteele thanks for reporting this, I haven't tested it yet, but your diagnoses looks correct.

I see two options to handle this:

1. Rescue the `ArgumentError` and display a warning.
2. Generate a unique route name (we could also potentially check for existence beforehand to ensure it's unique.)

I'll slot this in for the next Gem update.

[2017-05-11 21:23] fwuensche commented on #227
Thanks for the quick reply! I ended up removing heroku-deflater gem and manually adding Rack::Deflater in config.ru in order to compress assets.

[code]

I also made sure to properly config production.rb, [as suggested here](https://github.com/mattolson/heroku_rails_deflate).

[code]

You can see assets are still compressed at [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insi

[2017-05-11 21:35] joshuap commented on #227
Awesome, thanks for sharing -- that feedback page looks great! :)

[2017-07-05 21:47] Senjai opened #231 "Creating another agent for seperate project stuff is difficult and cumbersome"
Here's an example on how I've accomplished this for our rails project. (sanitized some NDA stuff out)

## Problem 1 - Configuration

[code]

This is the reporter I will be using for our Netsuite interactions. The documentation tells me I should then configure it. Easily done, here's what is done in `config/initializers/netsuite.rb` (after NS config)

[code]

Ideally this would be it. But this give

[2017-07-17 20:24] joshuap commented on #231
Hey @Senjai, thanks for the feedback/suggestions here. Just wanted to let you know that I'm in the process of evaluating this and will get back to you.

[2017-07-17 21:34] Senjai commented on #231
@joshuap Thanks!

In case you're curious, this is largely what we've settled on, if you wanted to see what it's kind of like to have a seperate agent coexist with a global one.

[code]

[2017-07-31 21:29] joshuap opened #232 "Clarify development mode in logs"
We don't send data in development by default, even though we catch errors and simulate reporting them. Currently the log output in development when an error is reported is the same as in production:

[code]

This causes confusion because the error does not actually exist in Honeybadger. Instead, it would be better to show a different message in development that indicates that the error was reporte

[2017-08-17 22:08] joshuap opened #233 "Support adding context to exception objects"
A useful pattern for error-specific context could be the following:

[code]

This could also be used to wrap 3rd-party errors with Honeybadger context in a `rescue` statement:

[code]

[2017-08-19 16:06] nj commented on #232
Agree - especially for the `Success` + `code=201` combination, it actually seems like it does something 😨

[2017-08-29 07:42] nj opened #235 "URLs in success message during installation outdated"
[Links used in *success message*](https://github.com/honeybadger-io/honeybadger-ruby/blob/913d834951cee5e23a6d6a8e9cc2e1cdbedfb9f0/lib/honeybadger/cli/test.rb#L239) upon installation, leads to outdated destinations as well as contains double redirects.

Example for **tracking deploys**:
1. URL mentioned in docs ([/gem-deploys](http://docs.honeybadger.io/gem-deploys))
2. Redirect 1 ([/lib/ruby.html

[2017-08-31 00:25] joshuap commented on #235
@nj thanks. I've updated the redirects and also added [a new guide for user feedback](http://docs.honeybadger.io/ruby/getting-started/collecting-user-feedback.html).

The redirects haven't updated for me yet, might be my browser's cache. I'll leave this open until I verify that they are intact.

[2017-08-31 00:47] nj commented on #235
@joshuap Cool thanks 😃

Seems like the redirects (at least when validating by `curl`) it's updated - but also experienced the browser caching the urls, due to it being a 301 which is basically cached forever (unless clearing the cache manually).

If you want to make sure it's not cached by browsers though still being a 301, simply adding a `Cache-Control: no-cache` header (though I'm not sure how

[2017-08-31 16:38] joshuap commented on #235
Thanks! I invalidated CloudFront again and they seem to be working correctly, at least in a clean browser. I'll hopefully change those to 302 redirects eventually (if the s3_website gem would work right :)).

[2017-08-31 16:38] #235 closed

[2017-09-01 22:11] #233 closed

[2017-09-05 21:22] #232 closed

[2017-09-20 15:34] timferro opened #240 "No live threads left. Deadlock?"
We're currently using honeybadger `3.1.2` with the resque plugin, and we're seeing possible deadlock behavior similar to what is described in [issue 206](https://github.com/honeybadger-io/honeybadger-ruby/issues/206) -
[code]

Let me know what further information would be useful in diagnosing this.

Thanks!

[2017-09-20 22:01] timferro commented on #240
@joshuap This has occurred for the last 2 nights on an overnight job. It's a relatively short job, less than 1 minute.  I can't say for sure that we have a reproducible case.

We HAVE had jobs very recently that occasionally exhaust memory on a Resque worker box, which lends weight to your suggestion.

[2017-09-21 18:48] timferro commented on #240
@joshuap one of our other developers dug around a bit and suspects that the worker may be getting pruned in the memory/disk space exhaustion scenario above - https://github.com/resque/resque/blob/master/lib/resque/worker.rb#L602-L606

[2017-10-02 21:40] joshuap commented on #240
@timferro thanks for digging in. I'm not quite sure what the fix should be yet, but I'll keep this issue open and revisit it. Ideally the fix doesn't involve adding too much code specifically to deal with Resque's weirdness (outside of the Resque plugin, anyway). Suggestions welcome. :)

[2017-10-10 00:59] joshuap commented on #231
An update on this:

I have played with adding something like `Honeybadger.with_agent(other_agent)` (which swaps out the global agent instance during its block's execution). The issue I've run into is that it doesn't always work as expected; for instance, if you use it in a Rails controller in the `around_action` callback and an exception is raised in the controller, the exception will be reported

[2017-10-10 11:30] NielsKSchjoedt opened #242 "Why is honeybadger:deploy so slow?"
Every time I deploy, the simple call to honey badger takes up more than 20sec of total deploy time. Why is this? Does it need to start up the whole rails app or something?

[code]

[2017-10-10 15:11] joshuap commented on #242
@NielsKSchjoedt yes we load the Rails environment; it's similar to a Rake task which loads the environment. If you want something lighter, you could create your own task which uses `curl`:

http://docs.honeybadger.io/guides/api.html#deployment-tracking-api

I'd also consider a PR which adds an optional `--no-rails` flag to our CLI commands.

[2017-10-10 15:11] #242 closed

[2017-10-20 02:24] kyleboe opened #243 "[Feature Request] API for Check-ins"
Something that would allow gem users to call `Honeybadger.checkin('some-checkin-string')`.

As an example, we would want to call `Honeybadger.checkin('ASDfgh')` at the end of a sidekiq task to be notified when it finishes.

[2017-10-31 14:45] szeryf opened #244 "Honeybadger worker shuts down during Sinatra startup"
I'm trying to use HB gem 3.1.2 with a Sinatra app, however HB's worker seems to terminate during app startup (notice the last line):

[code]

After this happens, error reporting silently fails. I can see logs like this:

[code]

but nothing is reported.

You can reproduce this behavior by cloning the https://github.com/honeybadger-io/honeybadger-sinatra-example and changing HB version in Gemfile:

[2017-10-31 15:25] joshuap commented on #244
@szeryf thanks for reporting this; as I recall, Sinatra does do some tricky setup in certain cases (utilizing `at_exit` to run the server, I believe). It's possible we overlooked something there. We'll look into this and update this issue when it's fixed.

[2017-10-31 15:32] joshuap commented on #243
I think it would be great if we could support both of these formats:

[code]

Basically the method should just make a GET request to the check-in url immediately (synchronously). I can't think of a good way to integrate this type of request with our existing [backend implementaiton](https://github.com/honeybadger-io/honeybadger-ruby/tree/master/lib/honeybadger/backend). The method should also resp

[2017-11-03 14:34] #244 closed

[2017-11-03 14:35] joshuap commented on #244
@szeryf the fix for this is now on master. Can you verify that it works? You can lock your Gemfile to master like this:

[code]

[2017-11-06 09:48] szeryf commented on #244
@joshuap works for me 👍 Thanks for quick response!

[2017-11-06 16:15] michaelherold opened #246 "Add a hook for preprocessing during the notify process"
## Problem

I'm looking to add Honeybadger support to the [Ownership](https://github.com/ankane/ownership) gem. It's proving to be cumbersome because there isn't a way to hook into the `Honeybadger.notify` process to add information to the context. Here's an example:

[code]

The `owner` method sets the owner information to the "blog team". This changes a thread local variable that marks any code

[2017-11-06 16:19] michaelherold commented on #231
I'm also interested in this as part of what I'm trying to do in #246.

Since it seems like the API key is really what matters for swapping agents, would it make sense to make it so you can override the API key within `Honeybadger.context` or `Honeybadger.notify`? For my use case, I could get by with just switching the API key instead of the whole agent.

Would that give you enough of a handle for

[2017-11-06 16:44] joshuap commented on #231
@michaelherold we actually *do* support `api_key` as an option to `Honeybadger.notify`, so you can do: `Honeybadger.notify(err, api_key: 'alternate')`.

[2017-11-06 17:12] michaelherold commented on #231
Oo, I did not know that - I hadn't got that far into a code dive. Good to know, thank you!

[2017-11-06 20:21] joshuap commented on #246
Hi @michaelherold! OK, so a few things:

1. Right now you can do `Honeybadger.notify(err, context: Ownership.owner)` (not sure if that's useful at all)
2. I agree that a global hook would be useful and could have use cases elsewhere as well. This is actually something I've been thinking about but haven't gotten around to deciding on. Currently our [`Honeybadger.exception_filter` callback](http://d

[2017-11-06 20:30] joshuap opened #247 "Local/Nested Context"
This feature would allow context to be set *only* for a block's execution:

[code]

I took a stab at this in #229, but an issue prevented merging it: nested context needs to be able to revert itself correctly. Example:

[code]

[2017-11-06 21:04] michaelherold commented on #246
Either one of those APIs would be 👍  for me. I don't think the simpler one is ambiguous since it's a DSL. I expect DSLs to use a builder pattern on top of some sort of configuration object.

As such, I like this one better:

[code]

I think it would be useful to pass in a `#call`able as well, like so:

[code]

[2017-11-07 01:17] aselder opened #248 "Context getting lost on Sidekiq jobs"
I have a quick question about Sidekiq jobs and context.

We're trying to add some context to errors reported by Sidekiq (hostname, stack name etc), but they never seem to show up.

[code]

and in `config/initializers/sidekiq.rb`:
[code]

It looks like the Honeybadger sidekiq plug-in clears the context, and that plug is lazy-loaded after initialization, so it ends up further inside the middleware s

[2017-11-07 01:27] joshuap commented on #248
@aselder do you think #246 could be a more global solution to this?

[2017-11-07 01:34] aselder commented on #248
@joshuap It probably would be, since I'm assuming the `before_notify` hook would be fired after the context was cleared by the Sidekiq middleware plug-in.

[2017-11-07 01:38] aselder commented on #246
I agree with @michaelherold that being able to pass a callable would be ideal.

[2017-11-07 01:40] aselder commented on #248
Looking at #246, this might not work as  we track different context info for our Sidekiq process vs. our web request errors.

Right now, we use a before_filter on our application_controller to capture some info that wouldn't appear on sidekiq jobs (request.uuid for instance).

For sidekiq, we were trying to use Sidekiq middleware to put sidekiq specific context.

I'm not sure how you's specify the

[2017-11-07 16:01] joshuap commented on #248
Ah yeah, I guess you'd need to determine which context the app was running in and configure it differently based on that, which I've never done before.

Ideally, our middleware should be the first middleware in the chain, like our Rack middleware is for Rails. That would also solve the issue you're having, I think? I wonder if we could edit our Sidekiq plugin to always insert the middleware at pos

[2017-11-07 16:13] minhajuddin commented on #243
@joshuap Why would we want to support the second variant in your comment `Honeybadger.check_in('https://api.honeybadger.io/v1/check_in/1MqIo1 ')`? Just to allow the user to copy and paste from the UI? Or is it possible for the endpoint to actually be different?

[2017-11-07 16:19] joshuap commented on #243
The entrypoint is not typically different, but by default we give you a full URL to use when you check in, rather than just the token. I think it would just be a convenience if both formats worked.

Also, when using just the token (`Honeybadger.check_in('1MqIo1')`), we should construct the URL using the `connection` configuration like we do when reporting errors. Proxy config should also be used.

[2017-11-07 16:24] aselder commented on #248
Yeah, inserting the HB sidekiq plug in always at position 0 seems like a good solution to me.

Looking the Sidekiq::Middleware::Chain class, is has a `prepend` method. I think you could replace `add` with `prepend` in the HB sidekiq plugin and we'd be golden.

[2017-11-07 17:51] joshuap commented on #248
@aselder can you see if 2a49688 works for you?

@mperham we're thinking of switching to use prepend to insert out middleware. Does anyone still use Sidekiq < 3.3.0? Also, <3 changelogs.

[2017-11-07 17:58] aselder commented on #248
@joshuap Will do. Probably take a couple days.

[2017-11-07 18:00] aselder commented on #248
Perhaps to help backwards compatibility, do a version check on sidekiq or a defined? check on `prepend` and fall back to `add` if `prepend` is not available.

[2017-11-07 18:02] mperham commented on #248
I'd say 90% of active users are past 3.3, which is 3 years old now.

[2017-11-07 18:20] joshuap commented on #248
@mperham thanks. I'll probably deprecate support for `add` so that we can get this into a minor release and remove in the next major release.

[2017-11-12 14:36] zinkkrysty opened #250 "Using Rails config.exceptions_app causes the wrong controller/action to be reported"
On Rails 4.2.8, I have set

[code]

according to [this article](https://medium.com/ruby-on-rails-web-application-development/custom-400-500-error-pages-in-ruby-on-rails-exception-handler-3a04975e4677).

However, when errors occur, they are reported to Honeybadger, they are reported as `errors#exceptions` instead of `my_controller#my_action`, where the error actually occurs.

I am using version 3.1

[2017-11-13 21:08] joshuap commented on #250
Thanks @zinkkrysty. We'll take a look at this (PRs/research also welcome--I don't know how to get the real controller/action name from inside the exceptions app off the top of my head).

[2017-11-13 21:35] zinkkrysty commented on #250
It could be a shot in the dark, however I suspect that this line is doing something unexpected:

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/init/rails.rb#L15

The first argument of the `insert` ([which is an alias of `insert_before`](http://api.rubyonrails.org/classes/Rails/Configuration/MiddlewareStackProxy.html#method-i-insert)) is not supposed to be an intege

[2017-11-21 22:57] #243 closed

[2017-12-04 23:34] joshuap commented on #226
I think I like the idea of generating a unique route name, like "verify_honeybadger_[unique sha]". It would be good if we could verify the generated route doesn't exist when creating it.

[2017-12-07 22:26] #226 closed

[2017-12-08 19:38] aselder commented on #248
@joshuap @minhajuddin Sorry for the delay. That looks like it solves the issue.

[2017-12-12 16:48] joshuap commented on #248
@aselder thanks, we'll work on getting a release out!

[2017-12-13 04:00] #248 closed

[2017-12-13 04:48] joshuap commented on #250
We may be able to do something on this one (we're looking into it). I don't want to rearrange our middleware to support this case if that's what it comes down to; it's possible that Rails may just not give us the information about the original controller/action. If it does, then maybe we can add a way to support this type of error page.

[2017-12-15 12:55] minhajuddin commented on #250
Rails overwrites all the `env` keys which contain the original `controller` and `action` info, e.g. `"action_dispatch.request.parameters", "action_dispatch.request.path_parameters",   "action_controller.instance"`.

However the original url is preserved, we can use this information to extract the original controller and action name through `Rails.application.routes.recognize_path("/runtime_error")

[2017-12-18 18:45] joshuap commented on #250
@minhajuddin I'd prefer not to do it always. I wonder if we could add a check to see if the controller/action name is specifically `errors#exceptions` and only do it then?

Honestly, though, if this is going to really complicate things or be difficult to support, I'd rather just skip it and maybe suggest a workaround (if we can think of one).

One potential workaround: once #246 is implemented, th

[2017-12-19 07:16] minhajuddin commented on #250
The controller and action which respond to error requests are configured in the router. I don't see a straight forward way of getting this info.

I think it should be possible for a workaround after #246 is implemented. I'll update this once we have that feature.

[2018-01-02 18:01] andrewhood125 opened #256 "Using YAML config causes exception ignore via inheritance to fail."
When using `config/honeybadger.yml` to define your Honeybadger config and you define something like this:

[code]

and assuming that the following exists..

[code]

If I raise SpecificError the expectation would be that it does not get reported.

The actual behaviour is that it does get reported.

It is prevented from being reported here: https://github.com/honeybadger-io/honeybadger-ruby/blob/aa3

[2018-01-08 17:50] joshuap commented on #256
@andrewhood125 have you tried `!ruby/class 'App::Section::GeneralError'`? That's the format suggested [in our docs](http://docs.honeybadger.io/ruby/getting-started/ignoring-errors.html).

[2018-01-08 17:53] andrewhood125 commented on #256
It won’t parse because our error inherits from StandardError and complains it’s not a class.

[2018-01-08 18:05] joshuap commented on #256
The issue there is probably that your code isn't loaded when our configuration runs. Do you think that's the case? The only way to get around that is to require the files which define your custom exception classes at runtime, before Honeybadger is initialized.

[2018-01-08 18:13] andrewhood125 commented on #256
I'm trying to remember because some time past since I actually encountered this as when I wrote the issue.

I don't think that's the case though, because it specifically complained that it was not a class but an exception. For it to know that the class would have to be loaded.

Can you elaborate on how I could check that, to make sure we're on the same page?

[2018-01-08 18:13] andrewhood125 commented on #256
I'm trying to retrigger the error in our app now.

[2018-01-08 18:28] andrewhood125 commented on #256
With the following `config/honeybadger.yml`

[code]

[code]

[code]

[code]

[2018-01-08 18:29] andrewhood125 commented on #256
Should I open a separate issue with the above?

[2018-01-08 19:14] joshuap commented on #256
No, the issue is that when loading the class, your custom error class has not been loaded yet, and therefore it can't be found when loading the YAML. You'll need to make sure that class is defined *before* Honeybadger is initialized.

`!ruby/exception 'App::Section::GeneralError'` seems to be interpreted as a string, which is why it works. I am not familiar with the "ruby/exception" type -- is tha

[2018-01-09 19:53] joshuap commented on #256
Closing this out because I don't think it's an issue with our gem -- as long as the class being referenced in the YAML is loaded before the app starts up, there shouldn't be any errors. Feel free to comment back here for help if needed.

An alternate way to configure this could be to add the config in a rails initializer (since your app code should normally be available at that point):

[code]

[2018-01-09 19:53] #256 closed

[2018-01-23 02:35] jrochkind opened #258 "can't get error reporting from rake tasks"
No matter what I try, I can't seem to get error reporting from rake tasks.

At first I didn't realize this was even a feature in the honeybadger gem, but noticed the [rake hooks](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/init/rake.rb), and the [configuration option](https://docs.honeybadger.io/ruby/gem-reference/configuration.html) `exceptions.rescue_rake`, `De

[2018-01-23 02:51] jrochkind commented on #258
OK, I got a bit further, as one does right after one posts an issue, heh. I think some of my debugging problems were related to `spring` messing with me.

But there's still problems. In a rake context, I don't think the ENVs are ever looked at for honeybadger config. Which is annoying, because it would be awfully convenient _especially_ for a rake task, to be able to set honeybadger config with EN

[2018-01-23 03:02] jrochkind commented on #258
Okay, and the next part is, neither config/honeybadger.yml _nor_ ENV (for honeybadger config) seems to be read unless my rake task depends on Rails :environment.  If this gem doesn't actually depend on Rails at all and can be used with other projects -- why does it not read config properly unless Rails is loaded?

So a couple different issues going on here that were interfering with my use case ma

[2018-01-23 03:16] joshuap commented on #258
@jrochkind sorry you're having trouble, happy to help.

First of all, yes, Rake reporting is working to the best of my knowledge, and we have an [extensive automated test matrix](https://travis-ci.org/honeybadger-io/honeybadger-ruby) which runs 3 different test suites (unit, feature, and integration) against [all supported versions of Ruby and Rails](https://github.com/honeybadger-io/honeybadger-r

[2018-01-23 03:25] joshuap opened #259 "Update Travis test matrix"
Should add:

- [x] Ruby 2.5.0
- [x] Rails 5.2.0 (after release)
- [x] New jRuby versions

[2018-01-23 03:32] jrochkind commented on #258
@joshuap I think I've kind of debugged it actually, in honeybadger source. Sorry, I seem to often end up accidentally using an issue report as a rubber duck just when i'm most frustrated, and then end up debugging further right after, sorry about that.

I am curious to see a working example of rake reporting. I think it's trying to report the error asynchronously, but then the process ends before

[2018-01-23 03:58] jrochkind commented on #258
Okay, here we go. Since the rails init is never called, the honey badger exit handler is never installed either, and that's why the rake exception that's queued to be sent async isn't waited for before the process exits.

I suspect rake task handling in an app that isn't Rails or Sinatra at all _will_ have problems, cause the notification is sent async, but the pure-ruby honeybadger init does not

[2018-01-23 04:04] joshuap commented on #258
I think you're right that there is an issue in Rake tasks in Rails apps when the environment isn't loaded. I don't believe the issue has anything to do with async because we flush the queue before shutting down in an `at_exit` hook specifically to avoid race conditions. I think the issue is just that Honeybadger is not being initialized properly (since it thinks it's a Rails app, but then Rails is

[2018-01-23 04:04] jrochkind commented on #258
Sorry, crossed wires, see above on fairly significant bug with at exit handler not being installed in any Rails app that has a resque dependency. :(

[2018-01-23 04:08] joshuap commented on #258
Ah, that makes sense (Sinatra). We recently added that check as a fix for a different issue with Sinatra initialization. 🤦‍♂️

In any case, thanks for all the debugging, and sorry for the trouble! I need to think about this and consult with my team; I'll make getting a fix released a top priority.

[2018-01-23 04:09] jrochkind commented on #258
One solution is maybe concurrency-safe flags for "exit_handler_installed?" and/or "honeybadger_init'd?".  And `Agent.notify` has to check for each of these at the beginning, and do em if they weren't done already. On every call, which is sad, so maybe that's no good. But I can't think of any other safe way to do things at present.

If you _did_ do that, then you might not even need the separate in

[2018-01-23 15:04] minhajuddin commented on #258
We initialize honeybadger in https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger.rb . This is supposed to setup callbacks and middleware based on what kind of web framework is being used i.e. Rails vs Sinatra. However, like @jrochkind mentioned a Rails app can have a specific route being handled by Sinatra. Also, the way we check if the app is running as a webserver or a

[2018-01-23 15:27] jrochkind commented on #258
You'd want to test it to be sure, but I don't think you'll have to do anything special there, I suspect your code for handling things in Rails should catch raises from sinatra-in-rails fine as it is.

[2018-01-23 15:28] jrochkind commented on #258
Note also that tn my case, I'm not even neccesarily _using_ the sinatra-in-rails that resque optionally provides. Just the fact that resque _has a sinatra dependency_ means the constant `Sinatra::Base` is defined.  Presence of constants -- for both Sinatra and Rails -- are imperfect proxies for figuring out "is it really in effect".

[2018-01-23 15:34] jrochkind commented on #258
For purpose of "it's not installing the at_exit handler cause it thinks it's sinatra when it's not" bug -- I wonder if you just gotta make the client explicitly configure `framework` in config, to tell honeybadger what framework. That'd be unfortunate. Or maybe at least _allow_ this as a force when the auto-detect code gets confused. I guess the trick there is at present the framework-specific-ini

[2018-01-23 18:24] jrochkind commented on #258
Now I'm having problems getting error handling to happen _even if_ I include `:environment` as a dependency in my rails app, _and_ manually call `Honeybadger.install_at_exit_callback` to get around the bug where it thinks it's sinatra and doesn't install the exit handler.

Debugging.

[2018-01-23 18:36] joshuap commented on #258
Unfortunately a requirement of the library is that it can automatically initialize and install itself into whatever environment it’s required in (By default). We’ll have to work around that.

For more custom setups we do already provide a “plain ruby mode” which allows you to require the Honeybadger client without any of the framework detection code or plugins (in which case integration must be pe

[2018-01-23 23:45] joshuap commented on #258
To answer @minhajuddin's question(s):

This has never been an issue in the past. If we're inside a Rails app, our Railtie will handle initializing Honeybadger. I believe that exceptions in Sinatra routes are reported (you could double check, though), since they would still bubble up through the normal Rack middleware. I don't think we need to support anything more than that.

Sounds good. To recap

[2018-01-24 13:50] minhajuddin commented on #258
I tested the bubbling up of sinatra errors in a rails app and it works as expected.

#260 fixes *1*

For *2* Shoehorning handling of rake task initialization in the rails init doesn't seem right. Changing the `honeybadger.rb` to the following should fix it:

[code]

[2018-01-24 14:27] minhajuddin commented on #258
Using a regex may be a bad idea, we could use `File.basename($0)` instead.

[2018-01-24 14:49] jrochkind commented on #258
[code]

Hypothetical problem, if the rake task in a Rails app _does_ have an `:environment`  dependency, it's the `init/rails` code that should probably be run.  Now the difference between effect of `init/rails` and `init/ruby` are actually fairly minor, so it may not matter. One potential difference, a slight difference in paths that the `honeybadger.yml` is looked for. But it might wind up being

[2018-01-24 16:35] joshuap commented on #258
@jrochkind is right. I think the issue of Honeybadger not being initialized in Rake tasks that run inside a Rails app without loading the environment is a Rails issue, which is why I think that it should be the responsibility of the Rails initialization code to handle it. Outside of Rails, our Rake support currently works as intended. I'm not saying the fix necessary *must* go in init/rails.rb, bu

[2018-01-24 17:39] jrochkind commented on #258
I still think looking at the code that the most straightforward solution is _some_ kind of concurrency-safe flag for "has been initialized".  If running in an app with `Rails::Railstie` (ie honeybadger decides it's rails), and a rake task is executed, and the flag is still false, that's how you know rails hasn't booted (which would trigger the usual rails honeybadger init), and you need to do the

[2018-01-25 00:27] joshuap commented on #258
The fix for the Sinatra+Rails `at_exit` issue (#260) is now on master. I'll probably release v3.3.0 tomorrow and then we can followup with a subsequent bugfix release for the rake+rails+no env issue once we get it sorted out.

[2018-01-25 16:30] minhajuddin commented on #258
Quick update: I am working on a fix which makes `Honeybadger.init` idempotent and adds a custom *hidden* rake task `honeybadger:init` as a dependency to all the rake tasks giving us a hook where we can test if the rails environment was actually loaded. I just need to clean up the code and add a few tests.

[2018-02-01 19:42] joshuap opened #264 "The "disabled" option is confusing"
In the past the `disabled` config option was used to prevent the agent from starting, but the agent now starts automatically when it's initialized. The purpose of the option now is to prevent notices being sent, which is also covered by the `report_data` option (the difference between the two is that `report_data` causes a null backend to be used, while `disabled` just [drops the notices entirely]

[2018-02-01 20:06] evanleck commented on #264
If I understand this right, setting `disabled` to `true` for a given environment will have the same effect as setting `report_data` to `false` while additionally skipping the code in the method you referenced that examines the error. Is that right?

[2018-02-01 20:13] joshuap commented on #264
@evanleck Yeah, that's right. Setting `report_data: false` causes a null backend to be used:

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/backend/null.rb

...which is another way to "do nothing" when an error is reported. I set it up that way because I think it's better to follow as much as possible of the same code path in test/development as production (it can

[2018-02-01 20:15] evanleck commented on #264
Cool, makes sense. Thank you!

[2018-02-16 16:16] #246 closed

[2018-02-16 16:28] stympy opened #266 "Returning false from a "before notify" hook should abort sending the notice"
As a follow-up to #249, if any of the "before notify" hooks return false, then the notice shouldn't be sent.  Returning nil or anything other than false should not affect the sending of the notice.

Since this is the same behavior as the `exception_filter` filter method, that method should be deprecated in favor of `before_notify`.

[2018-02-16 17:33] minhajuddin commented on #266
I think this may end up causing frustration to users who accidentally return a false. This goes against the principle of least surprise. `exception_filter` on the other hand is very clear about its purpose in that it is used to filter exceptions. I think adding a method on notice like `notice.discard! or notice.halt!` which when called from a notification hook halts the notice from being sent to h

[2018-02-16 17:39] stympy commented on #266
Could you provide an example where a developer might accidentally return a false?

[2018-02-16 17:58] minhajuddin commented on #266
I can't think of any code that returns a false. However, there a lot of people who do logging or conditional database calls in hooks. If we want users to return a `false` why not ask them to return a more readable and explicit value like `:honeybadger_halt`?  Even Rails 5 has deprecated implicit stopping of the callback chain (https://github.com/rails/rails/pull/17227).

[2018-02-16 18:25] stympy commented on #266
That makes sense.  I have a slight preference to calling `notice.halt!`(or similar) vs. returning an explicit symbol.  Is one implementation harder than the other?  Which would you prefer?

[2018-02-17 18:38] minhajuddin commented on #266
There shouldn't be any considerable difference between them. I too find the explicit cancellation using `notice.halt!` better.

[2018-02-18 05:06] stympy commented on #266
Alright then, let’s do it that way. :)

[2018-02-23 14:31] calleerlandsson opened #267 "Logging SignalException when gracefully shutting down Puma on Heroku"
Hello!

I'm monitoring a Rails 5.1.5 app running on Heroku with Honeybadger using version 3.3.0 of the gem.

The app uses the default Rails puma server configuration.

For some time now, Honeybadger has been logging a `SignalException` every time I deploy the application. Here's an example of what the Heroku log output looks like when the app restarts after a deploy:

[code]

I think this might be

[2018-02-27 13:33] minhajuddin commented on #267
This is an interesting situation, let me look at our code and see what is possible.

[2018-02-27 17:00] calleerlandsson commented on #267
Thanks, @minhajuddin!

[2018-03-06 05:02] minhajuddin commented on #266
Fixed by #268

[2018-03-06 05:02] #266 closed

[2018-03-09 15:48] ckersh commented on #267
I am seeing a similar issue using Rails 5.1.4, Passenger 5.2.1, and Honeybadger 3.2.0.

[2018-03-17 09:13] minhajuddin commented on #267
In our `at_exit` callback (https://github.com/honeybadger-io/honeybadger-ruby/blob/4499a73e1cdba01eb79c9809cffb69f0614d6d82/lib/honeybadger/singleton.rb#L67) we ignore `SystemExit` exceptions, adding another clause for `SignalException` caused by a `SIGTERM`  should fix this issue.

SIGTERM is usually sent by admins when they want to kill processes and not by the kernel. So, it should be safe for

[2018-03-20 06:32] joshuap commented on #267
I think that would be OK, @minhajuddin 👍

[2018-03-21 20:06] joshuap opened #271 "Make more Notice attributes assignable"
With the ability to modify the `Notice` instance in a `before_notify` callback, we need to make some changes to `Notice`.

Currently most attributes are read-only--I believe only `api_key` has been made writable so far. Ideally, you should be able to assign the same data in a `before_notify` callback that you can when passing options to `Honeybadger.notify` (`force` may be an exception):

https://

[2018-03-21 20:09] joshuap opened #272 "Should we deprecate `exception_filter`?"
Now that we have `before_notify` and `Notice#halt!`, should we need to deprecate `exception_filter`?

[2018-03-21 20:10] joshuap opened #273 "Add entry on `before_notify` to CHANGELOG"

[2018-03-21 20:17] joshuap commented on #272
Also, I'm curious if we should eventually deprecate the other two callback methods which you can currently access through the singleton directly: `Honeybadger.backtrace_filter` and `Honeybadger.exception_fingerprint`. We are not providing a similar delegated method for `before_notify`, which must be used in conjunction with `Honeybadger.configure`:

[code]

In general I want there to be one obviou

[2018-03-22 07:09] minhajuddin commented on #272
My vote is to deprecate `exception_filter`. I am not so sure about `exception_fingerprint` and `backtrace_filter`, The way they are currently allows users to just return the right `exception_fingerprint` taking in a notice and the right backtrace taking in the input backtrace. If we use `before_notify` for everything they'll have to construct the fingerprint and explicitly update the notice's fing

[2018-03-22 07:12] minhajuddin commented on #271
:+1: on making notice modifiable. However, we should be careful about the UX, Check https://github.com/honeybadger-io/honeybadger-ruby/issues/272#issuecomment-375200284 for my thoughts around the notice API.

[2018-03-22 07:16] minhajuddin commented on #272
wrt https://github.com/honeybadger-io/honeybadger-ruby/issues/272#issuecomment-375081499, I think we already have a lot of magic. The current syntax of setting up `config` using a block seems very usable to me, ruby devs are very familiar with it. I think we should remove `Honeybadger.backtrace_filter` style configuration functions to expose a consistent API and to have one obvious way of doing th

[2018-03-22 21:27] #273 closed

[2018-03-22 21:39] joshuap commented on #272
I'd rather not have something like `Notice#construct_fingerprint(proc)` when we can just assign the fingerprint directly. We just need to make sure that any internal transformation/sanitization happens when sending/serializing the notice rather than when the notice is initialized. Ideally I'd like Notice to be more of a PORO with accessor attributes (so that the API isn't too broad) that then gets

[2018-03-22 21:41] joshuap commented on #271
Re: https://github.com/honeybadger-io/honeybadger-ruby/issues/272#issuecomment-375201634

I'd rather not have something like `Notice#construct_fingerprint(proc)` when we can just assign the fingerprint directly. We just need to make sure that any internal transformation/sanitization happens when sending/serializing the notice rather than when the notice is initialized. Ideally I'd like Notice to b

[2018-03-22 21:43] #267 closed

[2018-03-22 21:48] #258 closed

[2018-03-25 10:55] minhajuddin commented on #271
Do we want this for 3.4.0?

[2018-03-29 09:00] minhajuddin commented on #271
Do we want the user to modify all the attributes on a notice https://docs.honeybadger.io/ruby/gem-reference/api.html#notice-properties ?

[2018-04-04 13:34] joshuap commented on #271
@minhajuddin I at least want to modify the properties which are assignable via `Honeybadger.notify`: https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/agent.rb#L96

There are a few properties that probably shouldn't be directly assignable, at least. `id` and `exception`, for instance.

[2018-04-09 05:56] zinkkrysty commented on #250
#246 is closed now, any news on a fix for this?

[2018-04-09 12:56] joshuap commented on #250
@minhajuddin do you have any ideas on a workaround using `config.before_notify`?

[2018-04-09 14:53] minhajuddin commented on #250
The following before notify hook would correct the paths in this instance:

[code]

However, `notice`s don't have assignable attributes yet, this will work once #271 is complete, which should be ready by the end of this week.

[2018-04-10 13:00] #259 closed

[2018-04-11 00:04] aselder commented on #247
👍 I'd love this... Let me know if you'd like me to take a stab at it. Chewy (the elasticsearch gem) does a very similar thing for it's update strategies. You can either set it globally for all time forward or you can pass a block, and it keeps track of this via a stack. https://github.com/toptal/chewy/blob/master/lib/chewy/strategy.rb

I think a similar strategy could work here.

[2018-04-12 07:38] minhajuddin commented on #271
@joshuap Please review.

[2018-04-12 23:03] joshuap commented on #247
@aselder you're welcome to! Take a look at #229 for my naive approach. I think this would be a really cool feature too.

[2018-04-27 22:03] joshuap opened #278 "Fix Notice#[]"
This method allows access to private methods because it uses `send`. It's a feature we supported from Hoptoad, but if we're breaking stuff, we might consider removing this entirely. :)

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/notice.rb#L234

[2018-05-14 22:54] joshuap commented on #278
@minhajuddin do you think this feature should be removed in 4.0, or just deprecated?

[2018-05-17 13:01] minhajuddin commented on #278
My vote is to deprecate it for now, and we can remove it if no one complains :smile:

[2018-07-05 15:06] #271 closed

[2018-07-25 08:37] razanjoshi opened #281 "Multiple notices with the same fault id"
In my case, there exist multiple notices for one fault thus if we resolve few of the notices, there is no way to filter unresolved notices as all those notices belong to the same fault and we can only resolve fault not the notice.
I need to fetch all the notices which are unresolved, is it possible?

[2018-07-26 14:34] minhajuddin commented on #272
@joshuap Should we deprecate this, now that the notice attrs are assignable?

[2018-07-26 14:45] minhajuddin commented on #278
Giving this a little more thought, it seems just removing it may be the best. People can still use `send` to access private data if they really want to.

[2018-07-27 19:05] paul opened #283 "Honeybadger throttle blocks all other worker threads"
We recently upgraded our grandfathered Honeybadger free plan to a paid one so we could add more projects. It seems the paid plan has stricter reporting limits than the free one did, and this exposed some weird behavior in Shoryuken: https://github.com/phstc/shoryuken/issues/510

I did some investigating, and it seems that when the Honeybadger client gets throttled, it sleeps for an exponentially-i

[2018-07-28 22:10] joshuap commented on #283
Thanks @paul, we’re looking into this!

[2018-07-30 18:07] joshuap commented on #281
@razanjoshi we don't support resolving/unresolving individual notices unfortunately--this must happen at the fault level. You can customize the grouping of notices, however:

https://docs.honeybadger.io/ruby/getting-started/customizing-error-grouping.html

[2018-07-30 18:07] #281 closed

[2018-07-31 11:58] #264 closed

[2018-07-31 12:07] elimereu opened #285 "Gene expression for normal reference"
Hi,

I'm a new user of this amazing tool.
I'm preparing data before starting with the analysis of CNV in my sample. I have a couple of questions related to the gene expression data I should use to infer the deviations between normal and cancer sample.
My questions are:
1. I found a bulk rna-seq dataset of memory B cells with only one sample, that I could use as reference. However, I'm not sure, if

[2018-07-31 13:59] minhajuddin commented on #283
@paul Thanks for such a detailed ticket :heart: The demo project you put helped a lot in debugging :slightly_smiling_face:

[2018-07-31 14:02] minhajuddin commented on #285
I think you have the wrong project :slightly_smiling_face:

[2018-07-31 14:02] #285 closed

[2018-07-31 14:12] elimereu commented on #285
Hi, thank you for responding so quickly, but I didn't get your reply.
Are you saying I cannot use just one sample from bulk RNA-seq?

Thank you,
Elisabetta

[2018-07-31 14:55] elimereu commented on #285
Ohh yes! Sorry!! You're right!! :(

[2018-08-02 19:03] #283 closed

[2018-08-07 16:02] joshuap commented on #272
@minhajuddin yeah let's deprecate it.

[2018-08-07 16:05] joshuap commented on #278
@minhajuddin sounds good

[2018-08-09 15:48] #278 closed

[2018-08-15 04:36] joshuap opened #288 "Deprecate remaining singleton callbacks"
Since we're deprecating `Honeybadger.exception_filter` in #272 and releasing 4.0, I think we might as well also deprecate the remaining callbacks in favor of `Honeybadger.before_notify`, similar to #287. The remaining callbacks are:

- `Honeybadger.exception_fingerprint` - can be achieved with `Honeybadger.before_notify` by directly assigning `notice.fingerprint = 'string'`
- `Honeybadger.backtrac

[2018-08-15 05:56] #272 closed

[2018-08-15 18:26] #288 closed

[2018-08-23 23:23] rypit opened #290 "Honeybadger.notify "with a string is" is not properly displayed."
Using honeybadger (2.6.0, 2.7.2)
[code]
The above snippet reports a `fault` successfully in the Honeybadger.io application. However, the body of the fault is displayed as `Notification` with no way of seeing what was passed:
<img width="606" alt="screen shot 2018-08-23 at 7 09 45 pm" src="https://user-images.githubusercontent.com/191847/44556769-43de8180-a709-11e8-9cef-ba0ba73c4976.png">

Reportin

[2018-08-23 23:30] rypit commented on #290
I see that this is actually the desired functionality. My mistake.

[2018-08-23 23:30] #290 closed

[2018-08-31 02:18] gabe-kent opened #291 "Provide option to skip rails initialization when executing cli command from Rails root"
In my use case, I have a ruby script within my app repo that is responsible for various deploy related actions which include running the command to mark a honeybadger deployment.

I do not want to nor am I prepared to initialize rails when I'm running this script from a copy of my repo.

Auto-detecting and initializing rails is a nice and handy feature to have, but there should be some control for

[2018-08-31 13:04] minhajuddin commented on #291
We even support plain ruby mode (more info here https://docs.honeybadger.io/ruby/getting-started/plain-ruby-mode.html). Not sure if that is what you were looking for, I don't think we initialize rails if you are running from a script. Can you take a quick look at the plain ruby mode and see if that works? I can look at this more if that approach doesn't work :slightly_smiling_face:

[2018-08-31 16:27] joshuap commented on #291
@minhajuddin I think @gabe-kent means the `honeybadger` cli command, which does initialize Rails:

https://docs.honeybadger.io/ruby/gem-reference/cli.html

I think adding a flag to skip rails initialization is a good idea. :+1:

[2018-08-31 16:56] gabe-kent commented on #291
@joshuap Correct, I specifically meant the `honeybadger` cli command(s). I may be able to submit PR for this change.

Any preference for the flag name or format? Perhaps `--skip_rails_load`?

[2018-08-31 17:11] minhajuddin commented on #291
A PR would be great :+1: can we name it `--skip-rails-load`, we have another flag with this pattern called `--api-key` :slightly_smiling_face:

[2018-09-18 18:49] pomartel opened #296 "Option to hide initialization message in the log"
Every time I run a rake command, make a new deployment or open a console in Heroku, this log line appears:
[code]
I find it a bit annoying, no other gems or plugins does that by default. Would it be possible to add an option to remove it from the log?
https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/config.rb#L58

[2018-09-18 19:52] pomartel commented on #296
I've put the following in my `config/honeybadger.yml` file:
[code]
When I boot my rails server (puma), it still shows up:
[code]

Is the config file read after that line is outputted in the log? Or am I doing something wrong?

[2018-09-18 20:51] joshuap commented on #296
The config file should be read before any log output is created. @minhajuddin can you take a look at this when you have the time? The issue might be that we log to the rails logger by default. I thought we still respected our internal log level, but maybe we don't in that case?

[2018-12-17 22:47] jrochkind commented on #141
I would love it if there were a way to actually disable honeybadger. Adding a fake key is weird.

[2018-12-18 02:56] joshuap commented on #258
@jrochkind we decided not to pursue changing the rake behavior: https://github.com/honeybadger-io/honeybadger-ruby/pull/263#issuecomment-375468678

Rake tasks which don’t load the Rails environment inside a Rails app should perform their own initialization of Honeybadger.

[2018-12-18 03:00] joshuap commented on #258
The fix for this was release, so calling this manually shouldn’t be necessary.

[2018-12-18 19:59] jrochkind commented on #258
I did just confirm that honeybadger 4.1.0 is reporting errors from a rake task (that _does_ load :environment), without need for any custom at_exit code.

So that was apparently fixed, at least for rake tasks that load rails :environment. When I filed this ticket, it was not working for them either. OK, great.

[2019-02-01 19:15] mstruve opened #301 "Honeybadger 4.2.0 Upgrade Leads to Custom before_notify hooks being Overwritten"
Hi!

I am working with a Rails app and just upgraded my gem to 4.2.0. When doing so the custom before_notify hooks I had set stopped working and seem to have been replaced by [this Rails plugin hook](https://github.com/honeybadger-io/honeybadger-ruby/pull/300/files#diff-4c479ef4dc6e98f60d8e69aa1a8a1f56R38) that was just added.

I caught this while running some of our specs. When I jumped into a sp

[2019-02-01 22:54] joshuap commented on #301
Hey @mstruve, shoot, thanks for the report. I'm looking into this now (I was able to reproduce it locally).

[2019-02-02 00:58] #301 closed

[2019-02-02 01:13] joshuap commented on #301
So I fixed two issues:

1. Calling `Honeybadger.configure` w/ `before_notify` hooks has an issue where previously configured hooks were removed. That's fixed in #302
2. I reverted the feature we added in #300 and release in v4.2.0. The general idea was that it would enhance error notices for Rails projects that use a custom `config.exceptions_app`. Unfortunately, I realized that it doesn't discrim

[2019-02-02 01:24] joshuap opened #303 "Move build to Circle"
These build times are killing me. Need more concurrency. :)

[2019-02-02 01:48] joshuap commented on #301
4.2.1 is released :relieved:

[2019-02-02 02:18] mstruve commented on #301
Thank you!!!!

[2019-02-06 14:53] fernandes commented on #250
@joshuap hummm thinking about (I have not reproduced in a test case), but can set only if values for controller/action are present (possibly filled with the wrong info)

if wanna double check, can use `::Rails.application.routes.recognize_path('/500')` and check if the filled values are the values rails return for the '/500' URL, if so, they are filled with the exceptions app information

I'm not

[2019-02-12 17:04] joshuap commented on #250
Thanks @fernandes. I think you're right, we could check the default params values and then change them only if the existing component/action values match the defaults. That's good info for the future.

For now, I'm going to hold off on adding this to the Rails plugin, and let people add it to their apps as-needed. They won't need to do a default route check, because they can do as @minhajuddin sug

[2019-02-12 18:54] fernandes commented on #250
yeah, is good for the forward compatibility hehehe 😉

probably who is facing this problem now has a lot of possible solutions to bake a solution themselves 😎

[2019-02-23 19:28] jaimevelaz opened #304 "Error reporting from rails runner"
Hi there,

I've been trying to send a PR to make `honeybadger-ruby` report exceptions when using `rails runner` (which seems to be filtered due `lib/honeybadger/singleton.rb#ignored_exception?` `SystemExit` check). This is an issue that we are facing for scheduled `rails runner` tasks using `crontab`, any error that happens in there will not be notified to `Honeybadger` and fails silently.

I've b

[2019-02-27 16:09] pdobb commented on #296
Same results for me ^. Here's what my cron log looks like :/

![image](https://user-images.githubusercontent.com/64674/53504531-c3ae2580-3a77-11e9-95c8-bfc98c8925f8.png)

[2019-03-01 22:07] joshuap commented on #304
@jaimevelaz our `at_exit` handler *should* handle all exceptions which aren't a type of `SystemExit`. Can you explain the case where a regular exception is wrapped in a SystemError? I've tested raising a regular `RuntimeError` from rails runner, and it was reported as expected.

[2019-03-01 22:09] joshuap commented on #304
I'm actually not sure what a `SystemError` exception is.

[2019-03-01 22:24] joshuap commented on #296
I confirmed what you all are seeing -- when using the Rails logger (which is the default), our internal log level is ignored in favor of Rails' log level. I forgot that we also mention this in our docs (see the "logging" heading [here](https://docs.honeybadger.io/ruby/gem-reference/configuration.html#configuration-options)).

I'll think about a possible fix for this. In the meantime, an option tha

[2019-03-01 22:28] pdobb commented on #296
@joshuap Thank you for pointing out the docs section. That works well enough for my needs!

[2019-03-02 17:58] jaimevelaz commented on #304
Hi @joshuap,

I've been playing a bit in https://github.com/jaimevelaz/rails-runner-system-exit and the only reproducible occurrence I found that the regular exception is wrapped in a `SystemError` is when the method is not found. One interesting thing is that `rails runner` warns about `Please specify a valid ruby command or the path of a script to run.` for the not found method and not for the s

[2019-03-06 13:57] zenom opened #305 "undefined method `sub`"
Just started debugging to see what might be causing this and if it is application specific, but this appears to be within honeybadger.  This is 4.2.1 on a rails 5.1 application, running ruby 2.5.3

`
** [Honeybadger] Error in worker thread class=NoMethodError message="undefined method `sub' for #<Thread::Backtrace::Location:0x00007fc84fb3ae60>"
	/var/www/portal/shared/vendor/bundle/ruby/2.5.0/gems

[2019-03-06 18:01] joshuap commented on #305
It looks like this exception is caused by a backtrace that was generated by `caller_locations`, which [returns an array of `Thread::Backtrace::Location` instances](https://ruby-doc.org/core-2.2.0/Thread/Backtrace/Location.html).

We don't use `caller_locations` anywhere as far as I know, and don't support backtraces of that type. `caller` -- which returns an array of strings -- can be used to supp

[2019-03-06 18:03] zenom commented on #305
Will dig in more and see what I can find.  Thanks for the response. It seems really random.  I can hit the same controller and it is fine, then this error, then fine etc. So will keep digging.

[2019-03-06 18:04] joshuap commented on #305
I may still consider "fixing" this by calling `line.to_s.sub()` instead of `line.sub()` [here](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/notice.rb#L132) and [here](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/notice.rb#L140). This does seem random, though, and would love to understand it more first (this is the first time I've

[2019-03-06 18:23] zenom commented on #305
There is nothing within our application that is using `caller_locations`.  Looking at the gems we include, the only ones that would be on this environment would be:

`
rabl
Active Record
Active Support
Sinatra (dependency of another gem, not required)
Sprockets
Pry_rails
`
We recently installed the honeybadger-js, which I doubt has anything to do with this, but figured I would share that too.  I s

[2019-03-06 21:46] joshuap commented on #305
Hmm, I don't think those gems should be a problem. Do you have any other information on the error that it's trying to report, like a backtrace?

[2019-03-07 15:06] zenom commented on #305
What shows in the log is what I pasted above. That is it.

[2019-03-12 10:39] iftheshoefritz opened #306 "SignalExceptions still being raised in rake tasks"
When I upgraded the gem from `3.3` -> `4.2.1` SignalExceptions disappeared from my Puma processes (this is good). However they still remain in my long running rake tasks (this is bad).

I see in https://github.com/honeybadger-io/honeybadger-ruby/pull/269/files that SignalException is squashed in the `at_exit` callback. Is there something different about how `install_at_exit_callbacks` works for Ra

[2019-03-12 18:25] joshuap commented on #306
The way our Rake integration works by default is that we report all errors that Rake displays (it's not related at all to `at_exit`):

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/init/rake.rb#L15

I think that it could make sense to automatically configure Honeybadger to ignore `SystemExit` and `SignalException` in Rake tasks. Since we don't currently have that,

[2019-03-12 19:21] joshuap commented on #304
@jaimevelaz thanks for the sample app! That was super helpful. I found out why Rails treats NoMethodError different from other errors:

https://github.com/rails/rails/blob/master/railties/lib/rails/commands/runner/runner_command.rb#L42

They treat name errors in direct code execution as an invalid command.

I don't want to add code to our `at_exit` callback to report all causes for `SystemExit`, b

[2019-03-12 19:21] #304 closed

[2019-03-19 15:33] #305 closed

[2019-03-30 14:09] iftheshoefritz commented on #306
Opened #309 to do this

[2019-04-02 17:16] joshuap commented on #306
Responded on #309. I'll close this issue after I update docs.honeybadger.io with info on configuring Rake tasks to ignore these exceptions.

[2019-04-04 22:07] #250 closed

[2019-04-04 22:12] joshuap commented on #240
I'm going to close this issue since we haven't had anyone else report the issue, and I can't reproduce it. Maybe it's no longer an issue with latest Resque? Feel free to comment/reopen if you can reproduce.

[2019-04-04 22:12] #240 closed

[2019-04-04 22:38] joshuap commented on #306
Added to the troubleshooting guide here: https://docs.honeybadger.io/ruby/support/troubleshooting.html#signalexception-or-systemexit-is-reported-when-a-process-or-rake-task-exits

[2019-04-04 22:38] #306 closed

[2019-04-05 15:09] timferro commented on #240
We were never able to reliably reproduce, and to my knowledge we also haven't seen it again in the interim. Sometimes patience truly is the better part of whatever the rest of that quote is. Thanks!

[2019-05-28 12:25] stympy opened #313 "The test command fails with Rails 6.0.0rc1"
Running `bundle exec honeybadger test` fails for a Rails app generated with version 6.0.0.rc1. Actual error reporting in the same app works as expected -- it's just that the test command fails.

In the gem code, running `bundle exec appraisal rails rake test` fails with the test routes returning 403 responses instead of the expected 500.

[2019-05-30 20:12] #313 closed

[2019-05-30 20:13] #303 closed

[2019-07-29 16:41] rabidpraxis opened #315 "Handle non-string input in Breadcrumbs::LogWrapper"
We are assuming a string for logger input, but that is not always the case. This ticket should deal with other objects and add some specs around the LogWrapper add method.

[2019-07-30 16:54] #315 closed

[2019-07-31 12:29] JanStevens opened #318 "4.4.1 brakes Grape API"
When using `4.3.1` all my spec pass, when only upgrading honeybadger to 4.4.1 and enabling breadcrumbs it brakes my Grape API

[code]

[2019-07-31 17:21] rabidpraxis commented on #318
Hey @JanStevens! Thanks for trying out Breadcrumbs and reporting this issue!

Based on where it's raising, it looks like something might be stripping the headers from the rack response, however, I can't seem to reproduce the issue locally.

Is there a way you can give me a little more information about your project and the context around this error? Can you give me more info about how you have Hon

[2019-08-06 06:33] JanStevens commented on #318
Hello,

We have a rails 5.2.3 app that mounts Grape and we just have Honey badger gem installed. The stack trace is from running a request spec using rspec. Breadcrumbs enabled or not doesn't seem to matter, it just fails with version 4.4.1 and succeeds with version 4.3.1.

I'll try to see if we have the same issue in one of our smaller applications

[2019-08-06 14:20] shivakumaarmgs opened #322 "honeybager install command throws exception in 4.5.0"
When I ran honeybadger install command I'm getting error

[code]

Then I installed gem version 4.4.2 and ran the honeybadger install command again it worked fine without any issue.

It might be due to a bug in gem version 4.5.0
I'm using ruby 2.1.2 and rails 4.2.0

[2019-08-06 14:31] joshuap commented on #322
Hi @shivakumaarmgs, we don’t support Ruby 2.1 anymore; it reached end of life in 2017. We currently support 2.4+ since support for 2.3 also ended earlier this year (I need to update our docs to say 2.4+ for MRI).

https://docs.honeybadger.io/lib/ruby/gem-reference/supported-versions.html
https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/

[2019-08-06 14:31] #322 closed

[2019-08-07 08:38] Bajena opened #323 "LogSubscriberInjector crashes when logging using block form"
After we upgraded HB gem and started using logging breadcrumbs we saw following errors in logs:

`Could not log "render.active_model_serializers" event. NoMethodError: undefined method `call' for nil:NilClass`

with following stacktrace:
[code]

I debugged it a bit and it turns out that Honeybadger gem doesn't support block argument in `LogSubscriberInjector`'s logging methods.

[2019-08-12 16:46] bkuhlmann commented on #323
⬆️ Experiencing this as well. Example (pseudo snippet):

[code]

The supplied fix associated with this issue works as a temporary workaround.

[2019-08-12 17:19] bkuhlmann commented on #323
:bulb: A temporary workaround until this patch lands is to ensure you do the following with your Honeybadger configuration:

[code]

[2019-08-13 06:11] Bajena commented on #323
Yep, I ended up doing the same as @bkuhlmann.

[2019-08-13 10:12] JanStevens commented on #318
Ha I found the cause I think, with the breadcrumbs API a LogWrapper is added which explicitly converts every message to string. We have custom grape logging that expects the log messages to be a hash (so we can use custom log formatting)

[code]

This is wrong, honeybadger should `dup` the message first and storing it in separate variables before changing any of the params

[2019-08-13 18:00] #323 closed

[2019-08-13 18:01] rabidpraxis commented on #323
Thank you for taking the time to debug this issue and push up a PR!!

[2019-08-13 18:18] #318 closed

[2019-08-13 18:20] rabidpraxis commented on #318
@JanStevens Thanks for taking the time to investigate and pushing up a PR!

I was unaware that Ruby implicitly carries over rebound arguments to a super call. Nice debugging!

[2019-08-13 18:47] Bajena commented on #323
You're welcome :)

[2019-08-14 09:59] shivakumaarmgs commented on #322
@joshuap Thank you for the response.

I've locked the gem at 4.4.2 for the rails app running in 2.1.2 and its working fine.

[2019-08-19 14:35] pbhogan opened #327 "&. operator requires Ruby 2.3"
https://github.com/honeybadger-io/honeybadger-ruby/blob/83b5cd4dd9cbbf20b4f9a5efbbb006e0be7a329a/lib/honeybadger/worker.rb#L60

I don't know if this is intentional, but after upgrading to the latest honeybadger gem from 4.3 we hit this problem on a large project that still uses Ruby 2.1

The &. operator used in a few places in this file requires Ruby 2.3 and this seems to be an artificial requirem

[2019-08-19 14:51] stympy commented on #327
Our plan with the gem is to keep current with the [supported versions of Ruby](https://www.ruby-lang.org/en/downloads/). I'll update our gemspec to reflect our minimum version of Ruby, which is currently 2.3.

[2019-08-19 14:51] #327 closed

[2019-12-03 15:37] jrochkind commented on #141
OK, this has come back for me, with a new use case!

Sometimes we open up a `rails console` on our staging or even production server. Ordinarily I want honeybadger tracking of errors on both my staging and production servers -- I even turn on error tracking for rake tasks (since i want errors reported from cronjob-initiated rake tasks!), I want error tracking of everything.

However, this means I

[2019-12-03 18:43] joshuap commented on #141
@jrochkind have you considered setting the `export HONEYBADGER_REPORT_DATA=false` environment variable in your shell (such as in a .bash_profile file)? That would disable error reporting for all commands executed within the shell environment. You could also do this:

[code]

https://docs.honeybadger.io/lib/ruby/gem-reference/configuration.html

[2019-12-03 18:46] jrochkind commented on #141
`config.report_data =  false` is perfect if that works! Great!  This issue made it seem like there was no way to do that, now someone finding this issue will find the way. Thank you!

I could set `ENV['HONEYBADGER_REPORT_DATA']` in code if that would work, but the config.report_data is probably better. I want someone to be able to execute `rails console` same as always with nothing special, and ju

[2019-12-03 19:44] joshuap commented on #141
Cool, yeah prefer `Honeybadger.configure` over `ENV` if you're configuring the gem from Ruby. 👍

Feel free to email support@honeybadger.io if you run into any other issues with that.

[2019-12-05 23:33] joshuaflanagan opened #335 "Allow disabling built-in Plugin"
Is there a way to disable a built-in Plugin? It seems like the Plugin system was designed to make the gem more modular, but there does not appear to be a way to opt-out of Plugins that are included in the gem, as long as their requirements are satisfied. That seems to defeat some of the benefit of a modular system.
Specifically, I do not like the current implementation of the Resque plugin (hopefu

[2019-12-06 00:00] joshuap commented on #335
Hey @joshuaflanagan, check out the `plugins` and `skipped_plugins` config options:

https://docs.honeybadger.io/lib/ruby/gem-reference/configuration.html#configuration-options

Also, thanks for putting together #334! At first glance, it looks reasonable and I think we'll be able to get it merged/released. We'll take a closer look soon.

[2019-12-06 00:00] #335 closed

[2019-12-06 03:00] joshuaflanagan commented on #335
Oh great! I missed that, glad to hear it is already supported.

[2020-01-02 14:34] sedubois opened #336 "Ruby 2.7 warning: Capturing the given block using Proc.new is deprecated"
[code]

[2020-01-02 20:29] willfish commented on #336
See this is unreleased.

[2020-01-02 20:30] willfish commented on #336
https://github.com/honeybadger-io/honeybadger-ruby/pull/332

[2020-01-02 20:30] willfish commented on #336
Can we get a release for this soon? :)

[2020-01-03 08:50] cw-yaro opened #337 "Context hash gets modified on Honeybadger.notify"
Hi,

It appears that the context hash that is passed as an argument to `Honeybadger.notify` gets modified after the method call:

[code]

Is this expected?

[2020-01-03 14:12] icantrap opened #338 "Honeybadger CLI deployment tracking"
The documentation [here](https://docs.honeybadger.io/lib/ruby/getting-started/tracking-deployments.html) states that only the environment is necessary to use CLI deployment tracking.

[code]

However, when this command is run, it requires repository and revision.

[code]

[2020-01-06 23:22] joshuap commented on #338
I updated the docs on that page to point to `bundle exec honeybadger help deploy` as the canonical reference, which should list the required options for the local CLI version. Thanks @icantrap!

[2020-01-06 23:22] #338 closed

[2020-01-06 23:24] joshuap commented on #337
@cw-yaro good catch; no, I wouldn't expect this to happen either. @rabidpraxis what do you think? Should we dup `opts` before mutating? https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/agent.rb#L117

[2020-01-06 23:38] joshuap commented on #336
@willfish working on a release this week (after I deal with some CI issues). Thanks for the patience, I must have forgotten to release this before heading out for December vacation. We're getting caught up now. :)

[2020-01-06 23:41] joshuap opened #339 "Move CI to GitHub actions"
This should be possible using the matrix support in actions.

[2020-01-07 05:41] joshuap commented on #336
Released in 4.5.5

[2020-01-07 05:41] #336 closed

[2020-01-07 05:51] joshuap opened #340 "Add Ruby 2.7 to CI"

[2020-01-07 10:36] willfish commented on #336
Thanks @joshuap  :). Hope the vacation was relaxing!

[2020-01-07 18:27] #340 closed

[2020-01-08 10:59] cw-yaro commented on #337
Thanks @joshuap !

That's indeed what we do (we prepare the hash with `context` key beforehand)

[2020-01-09 20:05] sodapopcan opened #342 "Checking if HB is disabled"
According to rdoc (https://www.rubydoc.info/github/honeybadger-io/honeybadger-ruby/Honeybadger%2FConfig:disabled%3F), `Honeybadger.config.disabled?` should exist, but it's throwing a `NoMethodError`.  Is there another way to check this?  I'm on `4.0`.

Thanks!

[2020-01-09 21:26] joshuap commented on #342
@sodapopcan for some reason RubyDoc.info is defaulting to an old branch of the gem. You can find the docs for the master branch (currently 4.5.6) here:

https://www.rubydoc.info/github/honeybadger-io/honeybadger-ruby/master/Honeybadger/Config

The `Config` object is a private API (see the warning in the overview section). `Honeybadger.config` mostly exists for the ease of testing and a few interna

[2020-01-09 21:26] #342 closed

[2020-01-09 21:27] sodapopcan commented on #342
Thank you!

[2020-01-13 22:22] rabidpraxis commented on #337
If people are passing in owned hashes as options, then yes I think duping would be a kind thing to do.

[2020-01-14 23:54] joshuap commented on #337
I’m not really sure how often this happens, since all of our examples are passing implicit hashes, i.e. `Honeybadger.notify(context: owned_context)`. I guess we’ll dupe the object before mutating just to be safe.

[2020-02-03 17:59] #337 closed

[2020-02-04 22:32] cw-yaro commented on #337
Thank you @joshuap and @rabidpraxis !

[2020-04-01 18:20] #339 closed

[2020-04-02 01:50] CamilleDrapier opened #350 "Undefined method 'controller=' for Honeybadger::Notice"
I was trying to follow the doc explaining how to handle specific exception_app configuration, and noticed that there was something wrong. https://docs.honeybadger.io/lib/ruby/integration-guides/rails-exception-tracking.html#if-you-use-config-exceptions_app

As the title suggests, it seems there is no `controller=` existing on `Notice` https://github.com/honeybadger-io/honeybadger-ruby/blob/911a557

[2020-04-03 00:40] joshuap commented on #350
Hi @CamilleDrapier, I think that we probably could also alias the :controller= method, for the sake of convenience. I’ll take a look at that and/or update the docs. In the meantime, you could use `notice.component =` instead—you’re right that they are the same thing. Thanks for pointing this out!

[2020-04-06 22:05] #350 closed

[2020-05-05 16:52] NielsKSchjoedt opened #354 "Is it possible to notify deployments without booting the application?"
In large rails projects, booting the application can be quite time consuming.

I see no reason for application to be booted, just to send a notification to HB on deployment using capistrano. Is there a way to avoid application boot (and speed up deployment procedure)?

https://github.com/honeybadger-io/honeybadger-ruby/blob/7eea24a47d44aed663e315be970e501b7cf092fc/vendor/capistrano-honeybadger/lib

[2020-05-05 20:01] joshuap commented on #354
_Background: We currently load the environment by default because otherwise [Ruby config](https://docs.honeybadger.io/lib/ruby/gem-reference/configuration.html#configuration-via-ruby-programmatic) wouldn't be picked up, which some add to a Rails initializer._

If you're asking if we could skip loading the environment in the `bundle exec honeybadger deploy` command (which runs on each server), ther

[2020-05-06 05:54] NielsKSchjoedt commented on #354
Thanks for the swift response. I think --skip-rails-load would be ideal and good for other users too. E.g. having an option in deploy.rb like: `set :honeybadger_skip_rails_load_on_deploy_notification, true`. Alternatively I can of cause write my own notification task as described, but it kind of defeats the idea with the capistrano support in the first place :-)

[2020-05-06 06:02] NielsKSchjoedt commented on #354
https://github.com/honeybadger-io/honeybadger-ruby/pull/355

[2020-05-06 06:03] NielsKSchjoedt commented on #354
I can see you also have an async option, that kind of helps speeding up things too

[2020-05-19 08:34] lizdeika commented on #354
The 355 looks promising!
We have 20-30s for `honeybadger:deploy` now which is a tad too much for a notification :)
By the way async is enabled and does not help much.

[2020-06-03 15:32] lizdeika commented on #354
Thanks for this!
20-30s -> 3s

[2020-06-09 16:40] joshuap commented on #354
Released in 4.7.0

[2020-06-09 16:40] #354 closed

[2020-06-18 08:57] edjames opened #357 "Proxy settings not working"
Hi

I'm trying to use proxy settings and I continue to get a TCP connection error.

May env vars look like this:
[code]

I'm not sure I need to specify the protocol for the proxy host (e.g. `http`) but I've tried this and get the same result.

With the above settings I get this error:
[code]

Other details which may help:

- ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-linux]
- honeybadger (

[2020-06-18 17:23] joshuap commented on #357
Hi @edjames, try this:

[code]

[2020-06-24 06:55] edjames commented on #357
@joshuap Thanks mate - that did the trick!

[2020-06-24 06:55] #357 closed

[2020-07-16 19:10] dzunk opened #359 "Enabling breadcrumbs causes error when connecting to read replicas"
Hello, I'm having an issue with multi-DB support in ActiveRecord with versions of this gem >= 4.6.0. We're on Ruby 2.6.6, Rails 6.0.3.2. Upgrading the `honeybadger` gem past version 4.5.6 starts throwing `ActiveRecord::ConnectionNotEstablished` errors when attempting to connect to a read replica.

Before upgrade:
[code]
After upgrade:
[code]

The model in question inherits from the `audited` gem (

[2020-07-16 19:34] dzunk commented on #359
Disabling breadcrumbs resolves the issue:
[code]

[code]

[2020-07-16 20:29] rabidpraxis commented on #359
Thanks for the report and investigation @dzunk!

We do some SQL obfuscation in our ActiveRecord breadcrumb instrumentation. Perhaps looking for the default connection adapter might not make sense with multiple databases. I'll give it a look.

[2020-07-24 16:00] joshuap opened #361 "ActiveJob default backend integration"
While Rails [generally recommends](https://edgeguides.rubyonrails.org/active_job_basics.html#job-execution) that you don't use the default in-memory ActiveJob backend (async?) in production, it would be nice if we could support it for those who do.

[2020-07-27 04:42] ioquatix opened #362 "agent.rb:253: warning: instance variable @breadcrumbs not initialized"
https://github.com/honeybadger-io/honeybadger-ruby/blob/95e80ff98bf6c4a8e51320b5aea8a82b3d4fdc9c/lib/honeybadger/agent.rb#L72

[2020-07-27 08:20] elv1ss opened #364 "HB::Breadcrumbs::ActiveSupport.default_notifications blows up if SQL query contains invalid UTF-8 bytes"
Sql example that cause error:
[code]

Works as expected if HoneyBadger NOT installed.
raises `ArgumentError` if HoneyBadger installed.

1.
[code]

2.
[code]

I think this can be fixed by adding `.encode('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')`, but I'm not sure.

I realize that we shouldn't be constructing strings that are not invalid UTF-8. Still, installing the HoneyB

[2020-07-27 18:56] #359 closed

[2020-07-27 20:08] #362 closed

[2020-07-27 21:36] #364 closed

[2020-08-02 20:23] pnomolos opened #367 "Running `bundle exec honeybadger install ...` from not RAILS_ROOT"
I just installed honeybadger but I was in `RAILS_ROOT/tmp` when I ran the `bundle exec honeybadger install ...` command, and it ended up putting the configuration file inside the `tmp` directory instead of in `config` (it also didn't put it in a sub-directory).  This might be expected behaviour, but perhaps a note either in the docs, or after running the command to indicate that the configuration

[2020-08-10 23:22] joshuap commented on #367
@pnomolos thanks for the heads up! I fixed our docs so that we say the file is generated to "./honeybadger.yml" (the default) except for Rails (which defaults to "./config/honeybadger.yml"):

https://docs.honeybadger.io/lib/ruby/getting-started/introduction.html#installing-the-gem
https://docs.honeybadger.io/lib/ruby/integration-guides/rails-exception-tracking.html#installation

[2020-08-10 23:22] #367 closed

[2020-08-12 06:32] elv1ss commented on #364
@rabidpraxis the error is still present on the line
[code]

I think it's enough to add `Util::SQL.force_utf_8(...)`, something like this:
[code]

[2020-08-12 18:20] tylercrocker opened #369 "Recent fix for ActiveRecord SQL Breadcrumb breaks test environments"
The recent change in 4.7.1

```ActiveRecord SQL Breadcrumb event pulls adapter from supplied connection, allowing for multiple databases.```

Seems to be causing to be causing all of our test environments to break when attempting to create the database because it can't obtain a connection from the pool:

```ActiveRecord::ConnectionTimeoutError: could not obtain a connection from the pool within 5.

[2020-08-12 18:32] rabidpraxis commented on #364
@elv1ss You are right, I missed the fact that we do a regex match _before_ we obfuscate the SQL.

I added #370 (with your suggestion) so that should take care of it.

[2020-08-12 18:34] rabidpraxis commented on #369
Hey @tylercrocker, sorry this update is messing with your testing environment!

What version of Rails are you running?

[2020-08-12 19:24] rabidpraxis commented on #369
Would you be willing to run this branch (avoid-ar-connections) in your testing environment to see if addresses the timeout issues?

[2020-08-13 07:38] elv1ss commented on #364
👍

[2020-08-13 23:27] bibliotechy commented on #369
We saw the same behavior in our QA environment. All tests passed in CI, so we deployed to our QA environment, but we got the same error `ActiveRecord::ConnectionTimeoutError: could not obtain a connection from the pool within 5.000 seconds (waited 5.005 seconds); all pooled connections were in use`

We're running Rails 5.2.4.3. Downgrading solved the issue.

[2020-08-17 17:19] jcoyne commented on #369
We're also seeing this problem with all production deployments.

[2020-08-17 18:04] rabidpraxis commented on #369
Hey @jcoyne I don't have a great way to validate my proposed fix. I see you pushed the branch from #371. Could you let me know if that resolves your timeout issues?

[2020-08-17 18:05] jcoyne commented on #369
@rabidpraxis yes, it seems to work fine.

[2020-08-17 20:13] rabidpraxis commented on #369
I just pushed a release (https://rubygems.org/gems/honeybadger/versions/4.7.2) that should address the connection exhausting issue.

Thanks for reporting @tylercrocker and testing @jcoyne 🙏 . Sorry for adding more debugging time to your day!

[2020-08-18 08:37] Jcambass opened #372 "Add support for submitting CSP violations from the ruby client"
Currently the Honeybadger documentation recommends directly reporting CSP error to the `https://api.honeybadger.io/v1/browser/csp` endpoint. In our application we currently have our own controller in place that implements some additional logging for CSP errors and then submits the CSP error via a normal `Honeybadger.notify` call.

It would be nice to have the ability to submit CSP errors via the H

[2020-08-19 17:04] #369 closed

[2020-08-19 17:35] joshuap commented on #372
For the most part our CSP endpoint just converts a CSP report into a Honeybadger error (similar to what `Honeybadger.notify` sends), so in this case I think it's better to just use `Honeybadger.notify` like you are already doing. You could make [the `class_name`](https://docs.honeybadger.io/lib/ruby/getting-started/reporting-errors.html#passing-additional-options-to-honeybadgernotify) of the notif

[2020-08-19 17:35] #372 closed

[2020-10-20 16:36] rabidpraxis opened #374 "Create Logger backend"
We had a request for logging errors during test runs. Per this conversation (via @ioquatix):

https://twitter.com/ioquatix/status/1318312887547408384

One way we could solve this is to add another backend option, perhaps a `Logger` backend. Instead of reporting on the `notify` method, we can send log the error to stderr. We should also log the `check_in` id as well.

[2020-11-05 18:37] #296 closed

[2020-11-05 18:40] joshuap opened #375 "Use Honeybadger logging.level setting when logging to Rails log"
See #296 for additional context. Currently, the `logging.level` setting only works when `logging.path` (or a custom logger) is also configured. It would be nice if `logging.level` also applied to the default Rails logger, but only for Honeybadger. I think that people expect `logging.level` to work for Honeybadger logs regardless of where the output is being sent.

[2020-11-24 17:40] rabidpraxis opened #378 "Experiment with less restrictive breadcrumb SQL obfuscation"
Our SQL breadcrumbs land a pretty heavy hammer on the SQL query content by removing almost everything except SQL keywords. This leads to less than useful breadcrumbs. Perhaps we can do better.

I am thinking we could introduce a new config option that allows a user to specify a less restrictive SQL obfuscator class. One that can keep table & field names. We can then default to the more restrictive

[2020-11-24 17:46] stympy commented on #378
WFM

[2020-12-04 09:16] rhymes opened #380 "Sanitize error messages"
Is it possible to sanitize the error message?

The documentation section of [Filtering Sensitive Data](https://docs.honeybadger.io/lib/ruby/getting-started/filtering-sensitive-data.html) only mentions filtering out parameters by their names of a regexp, but I was wondering if it was possible to sanitize the error message itself.

Let's say we don't want accidentally to publish an email in the erro

[2020-12-04 09:18] #380 closed

[2020-12-04 09:19] rhymes commented on #380
As this is a support query, I'm going to direct it to them :)

[2021-01-04 23:20] joshuap opened #383 "Initialize Honeybadger before Rails initializers"
Idea: initialize Honeybadger before running other Rails initializers. In addition to catching more errors, this allows errors in initializers to be reported with the correct config (such as config.env, which is provided by the Railtie).

There are probably implications I haven't thought of yet. This came from a customer ticket where they were configuring their API key via `Honeybadger.configure` a

[2021-01-28 14:57] brauliobo commented on #23
I'm having this issue with rack 2.2.3
[code]

[2021-02-10 16:34] joshuap opened #386 "Add Rails 6.1 to CI"
- Add a new appraisal for Rails 6.1, like Rails 6.0 [here](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/Appraisals#L40).
- Make sure the tests pass against Ruby >= 3.0.0 locally.
- Submit a PR and make sure [GitHub Actions CI](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/.github/workflows/ruby.yml) passes.

[2021-02-10 17:17] joshuap opened #387 "CI/test suite optimization"
The current test suite completes in ~ 2m 29s in CI. I would like to get it below ~ 1 minute.

We currently have [three test suites](https://github.com/honeybadger-io/honeybadger-ruby/tree/master/spec) that run with `bundle exec rake`: unit, integration, and features. [In CI](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/.github/workflows/ruby.yml), we run the tests against a matri

[2021-02-10 23:53] ParamagicDev commented on #387
Another performance win could also be looking at Gems in the Gemfile.

Right now the longest running install time I see is just over a minute, then a minute long test suite.

Perhaps we could look at programmatically pulling in Rails dependencies. For example, I did a quick grep on the repo and didnt see a single instance of Sprockets or asset[s]. I think itd be safe to assume we dont need `sprock

[2021-02-11 00:18] ParamagicDev commented on #387
As for the CLI itself, I've poke and prodded around the spec files a bit. It seems the most efficient way is calling: `Klass.start(%w(command subcommand))` where `Klass` inherits from Thor.

https://github.com/erikhuda/thor/blob/master/spec/runner_spec.rb
https://github.com/erikhuda/thor/blob/master/spec/subcommand_spec.rb

They also have some suite setup available here to provide nice helpers:

h

[2021-02-12 04:31] headius commented on #387
The JRuby failures may be fixed by using a newer JRuby.

It appears the builds are using JRuby 9.2.9.0 which is pretty old at this point, having been released well over a year ago. The Rails 5.2 build fails with one internal exception that should be fixed as of 9.2.14.0. The same error occurs in the Rails 6 build, along with some others that I did not try to diagnose. At a minimum you should try u

[2021-02-12 04:32] headius commented on #387
You could also force rvm to install 9.2.14.0, I think, using `jruby-9.2.14.0`. However you'll have to manually update that as JRuby versions are released.

[2021-02-12 17:40] joshuap opened #389 "Fix JRuby GitHub Actions workflow"
The JRuby GitHub Actions workflow is currently [on a branch](https://github.com/honeybadger-io/honeybadger-ruby/blob/jruby/.github/workflows/jruby.yml), and [currently failing](https://github.com/honeybadger-io/honeybadger-ruby/actions/runs/559907568).

See comment by Charles [here](https://github.com/honeybadger-io/honeybadger-ruby/issues/387#issuecomment-777962384) for ideas.

[2021-02-12 19:08] ParamagicDev commented on #387
@headius this was related to the old setup-ruby. Currently the new GH-action support both Jruby 9.2.13.0 and Jruby HEAD.

https://github.com/ruby/setup-ruby#setup-ruby

[2021-02-12 19:43] ParamagicDev commented on #389
I created a PR for this:

https://github.com/honeybadger-io/honeybadger-ruby/pull/390/files

However, I dont know enough about Jruby to continue debugging but perhaps this could be a good start for someone else familiar with Jruby + Rails. The error message appears quite nicer

[2021-02-12 22:17] joshuap commented on #389
@ParamagicDev could you try running the Rails 5.2 and 6.0 gemfiles on jruby-9.2.14.0 locally and see if they pass? I suspect they will pass, which would mean something is up with GitHub Actions, I think.

[code]

[2021-02-12 22:59] ParamagicDev commented on #389
I wasnt able to test 9.2.14.0 (not in ASDF yet), but I was able to test 9.2.13.0 and got all tests to pass. Let me try bumping up to pull from HEAD for jruby.

[2021-02-12 23:35] ParamagicDev commented on #389
I cant even get past `bundle exec appraisal install` locally.

However, I seem to have tracked down the issue we're facing with `deep_merge!`

This seems like a fairly new bug and is probably related to Rails dependency with i18n.

https://github.com/ruby-i18n/i18n/issues/555

And heres the follow up with @headius

https://github.com/jruby/jruby/issues/6547

[2021-02-13 00:18] joshuap commented on #389
@ParamagicDev `bundle exec appraisal install` appears to be working for me, so something else may be going on in your local setup (I used asdf to install jruby). I'll run the suite and see what I get.

[2021-02-13 00:28] joshuap commented on #389
Yep, everything Rails 5.2 and Rails 6.0 both pass on jruby-9.2.14.0 locally. So something in the GitHub Actions config or GitHub Actions itself must be causing the failures.

[code]

[2021-02-13 00:32] joshuap commented on #389
Since we're using the latest GitHub Actions `ruby/setup-ruby` action instead of RVM, I think this could warrant another look from @headius.

[2021-02-13 18:04] headius commented on #389
I can reproduce locally!

[2021-02-13 18:09] ParamagicDev commented on #389
@joshuap yea this can 100% be combined with our current workflow as soon as we get this to pass.

[2021-02-13 18:21] headius commented on #389
Success!

[code]

You managed to run into the recently discovered and reported jruby/jruby#6547, an incompatibility between the `Concurrent::Hash` from concurrent-ruby and refinements. It is an issue triggered by an update to i18n that adds methods to that class via refinements, but because those methods already defined and use a special JRuby internal feature for thread synchronization, the refin

[2021-02-13 18:39] headius commented on #389
The requires in question do no harm to any other implementation, so they are fine to leave there until you can update test runs to JRuby 9.2.15 or 9.3.

We would also like for you to be able to run edge rails... what is the problem there exactly?

[2021-02-14 01:17] ParamagicDev commented on #389
@headius Just ran this in CI. Master rails fails because it requires Ruby version >= 2.7.0

heres the relevant logs:

[code]

And link to CI run.

https://github.com/honeybadger-io/honeybadger-ruby/pull/391/checks?check_run_id=1895718268

[2021-02-16 18:07] headius commented on #389
@ParamagicDev Ahh well that is a bit trickier to fake. It is probably fine, though... JRuby 9.3 will support Ruby 2.6 features (release in next month or so) and the next major release will go straight to 3.0. We should be able to support Rails 7 long before it is out.

FWIW I doubt Rails is using anything from 2.7 that wasn't in 2.6. There simply weren't that many features added.

Thanks for the u

[2021-02-17 17:24] #389 closed

[2021-02-17 18:08] joshuap commented on #387
I think it would be *nice* to rewrite the CLI (aruba) tests as Thor tests so that they don't spawn ruby a bunch of times. I'm curious how much time that would take—I don't want to spend an unlimited amount of time on it.

One other smaller optimization that comes to mind is that we could potentially parallelize the three rake tasks, since there is some startup cost to running three test suites ins

[2021-02-19 19:07] joshuap commented on #387
Update: let's spend a few hours on [this approach to Thor CLI testing](https://github.com/honeybadger-io/honeybadger-ruby/issues/387#issuecomment-777128331) to see if it's a viable direction or not. 👍

[2021-02-24 18:20] shalvah opened #393 "Doesn't work unless you're using Git"
This might be fairly obvious, but after the initial setup/install command which worked fine, I couldn't figure out how to get my errors to show up in Honeybadger. Turns out it was because I hadn't initialized a Git repo yet, so the git revision command was failing. I had to add dummy `revision: 'something here'` in the YAML config to get it to work.

I think we should change the behaviour so it gr

[2021-02-25 19:37] shalvah commented on #393
Correction: *doesn't work unless you've committed. It's fine without Git, but if you run `git init` and you haven't committed yet, it crashes.

[2021-02-25 23:48] #393 closed

[2021-03-02 10:12] tocy1 opened #395 "Multiple slack channel support"
Is it possible to support multiple slack channel for notification based on environment?

[2021-03-02 18:33] joshuap commented on #395
@tocy1 yes that should be possible; you will need to create two channels and enable each for a different environment. Feel free to email us if you have additional questions about your account: support@honeybadger.io

[2021-03-02 18:33] #395 closed

[2021-03-04 21:29] stympy opened #396 "Add a method for sending deployment notifications"
We currently have a `honeybadger deploy` CLI command, but it would be nice to also have a method that could be called from Ruby code that would do the same thing. This would make it easier for an app to notify Honeybadger on the first boot after a deployment.

[2021-03-08 18:09] #386 closed

[2021-03-08 18:21] #396 closed

[2021-03-10 17:14] joshuap commented on #387
The individual test runs themselves are each below 1 minute. The "Setup JRuby" step is still taking ~1m 30s for each JRuby build, which adds to the overall CI time. By comparison, "Setup Ruby" on the Ruby 3.0 build adds only ~25s.

We may be able to further optimize GitHub Actions in the future, and we now have a way to test Thor commands without spawning a new process for each test. I think that'

[2021-03-10 17:14] #387 closed

[2021-03-25 16:48] alexpapworth opened #403 "Remove parameter filter set by Rails"
After reading the [Filtering Specific Attributes](https://docs.honeybadger.io/lib/ruby/getting-started/filtering-sensitive-data.html#filtering-specific-attributes) documentation, I'm left wondering if there's a way to remove filtering for a parameter set by Rails.

Specifically, I'm interested in not filtering the `:token` parameter, which is included as part of Rails' `filter_parameters` by defau

[2021-04-15 16:33] depfu[bot] opened #406 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Bundler setup and we can't fix it automatically:

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https://depfu.com/repos/github/honeybadger-io/honeybadger-ruby?project_id=22338).

👉 **We will not

[2021-04-15 18:38] joshuap commented on #403
@alexpapworth sorry for the late reply—missed this somehow. :(

I think you should be able to just set `request.filter_keys` to whatever list of items you want (override it):

[code]

[2021-04-15 18:38] #403 closed

[2021-05-03 13:55] henrik opened #407 "Clarify in docs that "global" context is thread-global"
I looked at https://docs.honeybadger.io/lib/ruby/getting-started/adding-context-to-errors.html#global-context but wasn't sure if it was process-global or thread-global.

https://github.com/honeybadger-io/honeybadger-ruby/blob/2d24a36f5f560c4234f22f59153c80f32e4ce177/lib/honeybadger/context_manager.rb#L9 makes me think it's thread-global. Maybe the docs could say so explicitly?

[2021-05-04 16:36] joshuap commented on #407
Thanks, [updated](https://docs.honeybadger.io/lib/ruby/getting-started/adding-context-to-errors.html#global-context)!

[2021-05-04 16:36] #407 closed

[2021-05-04 18:16] henrik commented on #407
Thank you, @joshuap!

[2021-06-01 13:25] kinduff commented on #383
Hello @joshuap.

Glad I found this is in your roadmap. We currently have a very similar situation where we are leaking errors to Slack for the prd & stg environments when something fails and there is no environment set. This of course happens when something is broken before initializing the application, specifically at `Rails.application.initialize!` as you mention.

We tried to set the `HONEYBADG

[2021-06-15 22:42] joshuap commented on #383
Hey @kinduff, sorry for the delay—I'm just back from vacation.

Unfortunately I can't think of a hack, since your initializer wouldn't run until after the errors are occurring. You might be able to use `Honeybadger.configure` to set earlier defaults if you add your own railtie or something. I may be able to pick up some environment variables earlier, though. I'll take another look at this.

[2021-06-28 17:31] #406 closed

[2021-06-28 21:28] depfu[bot] opened #409 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Bundler setup and we can't fix it automatically:

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https://depfu.com/repos/github/honeybadger-io/honeybadger-ruby?project_id=22338).

👉 **We will not

[2021-07-05 12:36] #409 closed

[2021-08-10 20:21] shalvah opened #413 "Populate default config with more options"
When adding Honeybadger to a new project with `bundle exec honeybadger install`, the default config file generated is pretty barebones. Only the `api_key` field is present, which means I must go back to hunt down the config reference in the docs.

I think it would be a better experience if we prefilled the default config file with some of the more likely options, possibly with brief explanatory co